<h1>
    <span>
        4. Sometimes I'm busy, on cool <em>projects</em>!
    </span>
</h1>

<p class="intro">
  Together with some very nice people I'm involved in different kinds of personal, fun but also professional projects.
  They range from <em>building software services & products</em>, to <em>organising conferences & meetups that build
  communities</em>.
</p>

<article class="projects__project">

  <a href="https://ng-be.org" target="_blank" rel="noopener" class="ignoreexternal">
    <img src="assets/images/projects/ngbe.svg" alt="NG-BE"/>
  </a>

  <div>
    <h2 id="ngbe">NG-BE: Belgium's Angular Conference</h2>

    <p>
      NG-BE is <a href="https://ng-be.org" target="_blank" rel="noopener">the Belgian Angular
      conference</a> and its first edition was held at the beautiful Holiday Inn
      Ghent, Expo venue in Ghent on December 8 & 9, 2016. NG-BE is the perfect
      opportunity for the Belgian Angular community to learn about the latest Angular v2+
      developments.
    </p>
    <p>
      Together with Jurgen (<a href="https://twitter.com/jvandemo" target="_blank" rel="noopener">@jvandemo</a>)
      we've bootstrapped this awesome community project. Thanks for being a great co-organiser Jurgen!
    </p>
  </div>

</article>
