<h1>
    <span>
        4. Sometimes I'm busy, on cool <em>projects</em>!
    </span>
</h1>

<p class="intro">
  Together with some very nice people I'm involved in different kinds of personal, fun but also professional projects.
  They range from <em>building software services & products</em>, to <em>organising conferences & meetups that build
  communities</em>.
</p>

<article>

  <a href="https://ng-be.org" target="_blank" rel="noopener" class="ignoreexternal">
    <img src="assets/images/projects/ngbe.svg" alt="NG-BE"/>
  </a>

  <div>
    <h2 id="ngbe">NG-BE: Belgium's Angular Conference</h2>

    <p>
      NG-BE is <a href="https://ng-be.org" target="_blank" rel="noopener">the Belgian Angular
      conference</a> and its first edition was held at the beautiful Holiday Inn
      Ghent, Expo venue in Ghent on December 8 & 9, 2016. NG-BE is the perfect
      opportunity for the Belgian Angular community to learn about the latest Angular v2+
      developments.
    </p>
    <p>
      Together with Jurgen (<a href="https://twitter.com/jvandemo" target="_blank" rel="noopener">@jvandemo</a>)
      we've bootstrapped this awesome community project. Thanks for being a great co-organiser Jurgen!
    </p>
  </div>

</article>

<article>

  <a href="http://sponsormatch.eu" target="_blank" rel="noopener" class="ignoreexternal">
    <img src="assets/images/projects/sponsormatch.png" alt="SponsorMatch"/>
  </a>

  <div>
    <h2 id="sponsormatch">SponsorMatch - The match-making marketplace for sponsorships</h2>

    <p>
      <a href="http://sponsormatch.eu" target="_blank" rel="noopener">SponsorMatch</a> is a platform that brings
      organisers and sponsors together. It’s a mash-up between a funding- and datingplatform for
      organisers and companies in their quest for interesting, well defined audience targeted
      sponsoring opportunities!
    </p>
    <p>
      Kurt (<a href="https://twitter.com/cosinski" target="_blank" rel="noopener">@Cosinski</a>) contacted me
      in 2016 to start-up this project. Beginning of 2018 we've relaunched with our 2nd version.
    </p>
  </div>

</article>

<article>

  <a href="http://jsbe.io" target="_blank" rel="noopener" class="ignoreexternal">
    <img src="assets/images/projects/jsbe.jpg" alt="JSBE.io"/>
  </a>

  <div>
    <h2 id="jsbe">The JSBE Meetup group</h2>

    <p>
      <a href="http://jsbe.io" target="_blank" rel="noopener">JSBE</a> aims to maintain a user group for all
      sorts of topics related to the javascript ecosystem, including front-end, back-end, mobile & IOT, at various
      locations across Belgium. Who is welcome? Well everyone!
    </p>
    <p>
      Together with a nice group of enthusiastic people we bring hot JS topics to the public in a nice and
      comfortable setting. I recently, since October 2018, left the team to gain extra-time for other projects. Thanks
      for the years of being part of a great team Kwinten(<a href="https://twitter.com/KwintenP" target="_blank"
                                                             rel="noopener">@KwintenP</a>),
      Dennis (<a href="https://twitter.com/dennisjaamann" target="_blank" rel="noopener">@dennisjaamann</a>),
      Jan (<a href="https://twitter.com/Mr_Jean" target="_blank" rel="noopener">@Mr_Jean</a>) &amp;
      Steven (<a href="https://twitter.com/stevenbeeckman" target="_blank" rel="noopener">@stevenbeeckman</a>).
    </p>
  </div>

</article>
