<h2>About</h2>

<p>
  Workbox is a set of libraries and Node modules that make it easy to cache assets and take full advantage of features
  used to build <a href="https://developers.google.com/web/progressive-web-apps/" target="_blank" rel="noopener">
  Progressive Web Apps</a>.
</p>

<p>
  This application was build to showcase the power of Workbox. Next to enabling Progressive Web Apps, Workbox can be
  used to create powerful offline experiences!
</p>

<p class="about__workbox">
  <a href="https://developers.google.com/web/tools/workbox" target="_blank" rel="noopener">
    <img src="/assets/workbox.svg" alt="Workbox logo"/>
  </a>
</p>
