<!--The content below is only a placeholder and can be replaced.-->
<ul>
  <li>
    <a routerLink="/" routerLinkActive="active">Home</a>
  </li>
  <li>
    <a routerLink="/facebook-sharing-debugger" routerLinkActive="active">Facebook Sharing Debugger</a>
  </li>
  <li>
    <a routerLink="/twitter-card-validator" routerLinkActive="active">Twitter Card Validator</a>
  </li>
  <li>
    <a routerLink="/linkedin-post-inspector" routerLinkActive="active">Linkedin Post Inspector</a>
  </li>
  <li>
    <a routerLink="/about" routerLinkActive="active">About</a>
  </li>
</ul>
<router-outlet></router-outlet>

