@import 'app';
@import 'hl';

// can't use host here because of viewEncapsulation none
sv-app {
  display: block !important;

  @media (min-width: 921px) {
    margin-top: 9px;
  }

  max-width: 1280px;
  margin: {
    right: auto;
    left: auto;
  }

}

aside {
  position: relative;
  display: block;
  z-index: 1;
  padding: {
    right: 50px;
  }
  @media (min-width: 921px) {
    border-right: 1px solid;
    border-image: linear-gradient(
        to bottom,
        #eee,
        rgba(0, 0, 0, 0)
    ) 1 100%;
    border-left: 0;
    margin-bottom: 50px;
    overflow: auto;
    max-height: calc(100% - 50px);
  }

  #picture {
    display: block;

    img {
      width: 100px;
      height: 100px;
      border: {
        style: solid;
        color: #eee;
        radius: 110px;
      }
    }

    &.new-version-available {
      img {
        border: {
          color: #f0433e;
        }
      }
    }
  }

  .new-version-available-msg {
    color: #fff;
    padding: 5px 10px;
    font-size: 1.2em;
    background: #f0433e;
    cursor: pointer;
  }

  h1 {
    text-transform: uppercase;
    color: #333;
    text-align: center;
    font-size: 1.3em;
    letter-spacing: 1px;
    padding-top: 10px;

    @media (min-width: 314px) {
      padding-top: 18px;
    }

    @media (min-width: 352px) {
      font-size: 1.5em;
      letter-spacing: 2px;
      padding-top: 17px;
    }

    a {
      color: #333;
      text-decoration: none;

      &:hover {
        color: #111;
      }
    }

  }

  h2 {
    text-transform: uppercase;
    color: #333;
    font-size: 1.3em;
    letter-spacing: 2px;
    margin-bottom: 15px;
  }


  p {
    line-height: 25px;
    font-size: 1.5em;
    color: #555;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
  }

  nav {

    @media (min-width: 921px) {
      margin-bottom: 50px;
    }

    ol {
      margin: 0;
      padding: 0;

      li {
        padding: 0 0 0 10px;
        margin: 0 0 15px 15px;

        a {
          color: #444;
          text-decoration: none;
          font-size: 1.5em;
          border-bottom: 1px dotted #666;

          &:hover {
            color: #222;
            border-bottom: 1px solid #444;
          }

          &.active {
            color: #000;
            border-bottom: 1px solid #444;
            font-weight: bold;
          }

          @media (max-width: 920px) {
            padding: 10px 0;
            font-size: 1.2em;
            letter-spacing: 2px;
          }

        }

      }
    }

  }

  ul.social {
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    margin-top: 40px;

    li {
      display: inline-block;
      margin-right: 22px;

      &:last-of-type {
        margin-right: 0;
      }

      a {
        display: block;
        width: 22px;
        height: 22px;

        -moz-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;
        border: none;
        text-indent: -999999px;

        &:hover {
          border: none;
        }

        &.facebook {
          background-image: url("data:image/svg+xml,%3Csvg height='100%25' viewBox='0 0 512 512' width='100%25' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m483.738281 0h-455.5c-15.597656.0078125-28.24218725 12.660156-28.238281 28.261719v455.5c.0078125 15.597656 12.660156 28.242187 28.261719 28.238281h455.476562c15.605469.003906 28.257813-12.644531 28.261719-28.25 0-.003906 0-.007812 0-.011719v-455.5c-.007812-15.597656-12.660156-28.24218725-28.261719-28.238281zm0 0' fill='%234267b2'/%3E%3Cpath d='m353.5 512v-198h66.75l10-77.5h-76.75v-49.359375c0-22.386719 6.214844-37.640625 38.316406-37.640625h40.683594v-69.128906c-7.078125-.941406-31.363281-3.046875-59.621094-3.046875-59 0-99.378906 36-99.378906 102.140625v57.035156h-66.5v77.5h66.5v198zm0 0' fill='%23fff'/%3E%3C/svg%3E%0A");
        }

        &.twitter {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%231da1f2' d='M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z'/%3E%3C/svg%3E%0A");
        }

        &.linkedin {
          background-image: url("data:image/svg+xml,%3Csvg height='100%25' viewBox='0 -11 512 511' width='100%25' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23069'%3E%3Cpath d='m6.488281 159.683594h109.753907v330.207031h-109.753907zm0 0'/%3E%3Cpath d='m62.089844.5c-37.542969 0-62.089844 24.652344-62.089844 57.054688 0 31.6875 23.816406 57.042968 60.648438 57.042968h.714843c38.277344 0 62.097657-25.355468 62.097657-57.042968-.714844-32.402344-23.820313-57.054688-61.371094-57.054688zm0 0'/%3E%3Cpath d='m385.644531 151.933594c-58.234375 0-84.328125 32.003906-98.914062 54.507812v-46.757812h-109.757813v330.207031h109.753906v-184.402344c0-9.871093.714844-19.726562 3.613282-26.785156 7.933594-19.714844 25.992187-40.136719 56.3125-40.136719 39.714844 0 55.601562 30.28125 55.601562 74.671875v176.652344h109.746094v-189.335937c0-101.425782-54.148438-148.621094-126.355469-148.621094zm0 0'/%3E%3C/g%3E%3C/svg%3E%0A");
        }

        &.github {
          background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 256 250' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid'%3E%3Cg%3E%3Cpath d='M128.00106,0 C57.3172926,0 0,57.3066942 0,128.00106 C0,184.555281 36.6761997,232.535542 87.534937,249.460899 C93.9320223,250.645779 96.280588,246.684165 96.280588,243.303333 C96.280588,240.251045 96.1618878,230.167899 96.106777,219.472176 C60.4967585,227.215235 52.9826207,204.369712 52.9826207,204.369712 C47.1599584,189.574598 38.770408,185.640538 38.770408,185.640538 C27.1568785,177.696113 39.6458206,177.859325 39.6458206,177.859325 C52.4993419,178.762293 59.267365,191.04987 59.267365,191.04987 C70.6837675,210.618423 89.2115753,204.961093 96.5158685,201.690482 C97.6647155,193.417512 100.981959,187.77078 104.642583,184.574357 C76.211799,181.33766 46.324819,170.362144 46.324819,121.315702 C46.324819,107.340889 51.3250588,95.9223682 59.5132437,86.9583937 C58.1842268,83.7344152 53.8029229,70.715562 60.7532354,53.0843636 C60.7532354,53.0843636 71.5019501,49.6441813 95.9626412,66.2049595 C106.172967,63.368876 117.123047,61.9465949 128.00106,61.8978432 C138.879073,61.9465949 149.837632,63.368876 160.067033,66.2049595 C184.49805,49.6441813 195.231926,53.0843636 195.231926,53.0843636 C202.199197,70.715562 197.815773,83.7344152 196.486756,86.9583937 C204.694018,95.9223682 209.660343,107.340889 209.660343,121.315702 C209.660343,170.478725 179.716133,181.303747 151.213281,184.472614 C155.80443,188.444828 159.895342,196.234518 159.895342,208.176593 C159.895342,225.303317 159.746968,239.087361 159.746968,243.303333 C159.746968,246.709601 162.05102,250.70089 168.53925,249.443941 C219.370432,232.499507 256,184.536204 256,128.00106 C256,57.3066942 198.691187,0 128.00106,0 Z M47.9405593,182.340212 C47.6586465,182.976105 46.6581745,183.166873 45.7467277,182.730227 C44.8183235,182.312656 44.2968914,181.445722 44.5978808,180.80771 C44.8734344,180.152739 45.876026,179.97045 46.8023103,180.409216 C47.7328342,180.826786 48.2627451,181.702199 47.9405593,182.340212 Z M54.2367892,187.958254 C53.6263318,188.524199 52.4329723,188.261363 51.6232682,187.366874 C50.7860088,186.474504 50.6291553,185.281144 51.2480912,184.70672 C51.8776254,184.140775 53.0349512,184.405731 53.8743302,185.298101 C54.7115892,186.201069 54.8748019,187.38595 54.2367892,187.958254 Z M58.5562413,195.146347 C57.7719732,195.691096 56.4895886,195.180261 55.6968417,194.042013 C54.9125733,192.903764 54.9125733,191.538713 55.713799,190.991845 C56.5086651,190.444977 57.7719732,190.936735 58.5753181,192.066505 C59.3574669,193.22383 59.3574669,194.58888 58.5562413,195.146347 Z M65.8613592,203.471174 C65.1597571,204.244846 63.6654083,204.03712 62.5716717,202.981538 C61.4524999,201.94927 61.1409122,200.484596 61.8446341,199.710926 C62.5547146,198.935137 64.0575422,199.15346 65.1597571,200.200564 C66.2704506,201.230712 66.6095936,202.705984 65.8613592,203.471174 Z M75.3025151,206.281542 C74.9930474,207.284134 73.553809,207.739857 72.1039724,207.313809 C70.6562556,206.875043 69.7087748,205.700761 70.0012857,204.687571 C70.302275,203.678621 71.7478721,203.20382 73.2083069,203.659543 C74.6539041,204.09619 75.6035048,205.261994 75.3025151,206.281542 Z M86.046947,207.473627 C86.0829806,208.529209 84.8535871,209.404622 83.3316829,209.4237 C81.8013,209.457614 80.563428,208.603398 80.5464708,207.564772 C80.5464708,206.498591 81.7483088,205.631657 83.2786917,205.606221 C84.8005962,205.576546 86.046947,206.424403 86.046947,207.473627 Z M96.6021471,207.069023 C96.7844366,208.099171 95.7267341,209.156872 94.215428,209.438785 C92.7295577,209.710099 91.3539086,209.074206 91.1652603,208.052538 C90.9808515,206.996955 92.0576306,205.939253 93.5413813,205.66582 C95.054807,205.402984 96.4092596,206.021919 96.6021471,207.069023 Z' fill='%23161614'%3E%3C/path%3E%3C/g%3E%3C/svg%3E%0A");
        }

        &.skype {
          background-image: url("data:image/svg+xml,%3Csvg height='100%25' viewBox='0 -1 512.001 512' width='100%25' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m493.878906 298.023438c2.640625-14.386719 4.027344-29.109376 4.027344-43.828126 0-32.636718-6.386719-64.296874-19.011719-94.105468-12.179687-28.792969-29.605469-54.648438-51.820312-76.847656-22.183594-22.203126-48.058594-39.625-76.835938-51.804688-29.796875-12.609375-61.460937-19-94.09375-19-15.382812 0-30.789062 1.445312-45.78125 4.324219-.03125.007812-.074219.007812-.113281.015625-20.570312-10.9375-43.703125-16.777344-67.121094-16.777344-38.230468 0-74.175781 14.886719-101.207031 41.929688-27.027344 27.03125-41.921875 62.976562-41.921875 101.207031 0 24.332031 6.261719 48.253906 18.007812 69.390625-2.382812 13.695312-3.640624 27.691406-3.640624 41.667968 0 32.644532 6.390624 64.300782 19.015624 94.113282 12.160157 28.800781 29.59375 54.640625 51.789063 76.84375 22.214844 22.199218 48.054687 39.648437 76.863281 51.796875 29.800782 12.632812 61.472656 19.027343 94.105469 19.027343 14.207031 0 28.445313-1.296874 42.34375-3.761718 21.414063 12.113281 45.65625 18.550781 70.414063 18.550781 38.222656 0 74.148437-14.859375 101.183593-41.910156 27.039063-27.015625 41.917969-62.96875 41.917969-101.199219 0-24.414062-6.292969-48.414062-18.121094-69.632812zm0 0' fill='%2300aff0'/%3E%3Cpath d='m257.105469 402.261719c-85.890625 0-124.316407-42.226563-124.316407-73.875 0-16.230469 11.984376-27.609375 28.5-27.609375 36.757813 0 27.238282 52.777344 95.816407 52.777344 35.109375 0 54.496093-19.0625 54.496093-38.570313 0-11.734375-5.789062-24.738281-28.90625-30.4375l-76.394531-19.070313c-61.527343-15.429687-72.691406-48.691406-72.691406-79.957031 0-64.914062 61.121094-89.289062 118.519531-89.289062 52.875 0 115.203125 29.222656 115.203125 68.167969 0 16.6875-14.449219 26.390624-30.960937 26.390624-31.367188 0-25.597656-43.417968-88.785156-43.417968-31.355469 0-48.722657 14.199218-48.722657 34.515625 0 20.28125 24.765625 26.757812 46.265625 31.65625l56.546875 12.550781c61.941407 13.800781 77.644531 49.964844 77.644531 84.027344.003907 52.75-40.488281 92.140625-122.214843 92.140625zm0 0' fill='%23fff'/%3E%3C/svg%3E%0A");
        }

        &.stack-overflow {
          background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 256 304' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid'%3E%3Cg%3E%3Cpolygon fill='%23BCBBBB' points='216.329708 276.187929 216.329708 194.976776 243.28341 194.976776 243.28341 303.14163 0 303.14163 0 194.976776 26.9537015 194.976776 26.9537015 276.187929'%3E%3C/polygon%3E%3Cpath d='M56.7077876,187.275718 L189.025959,214.929516 L194.626728,188.325863 L62.3085568,160.672065 L56.7077876,187.275718 L56.7077876,187.275718 Z M74.2101912,124.267065 L196.727016,181.324901 L207.928555,156.821536 L85.4117295,99.4136524 L74.2101912,124.267065 Z M108.164854,64.0587971 L212.129132,150.520671 L229.281487,129.867835 L125.31721,43.4059609 L108.164854,64.0587971 L108.164854,64.0587971 Z M175.374084,0 L153.671104,16.1022113 L234.18216,124.617114 L255.88514,108.514902 L175.374084,0 Z M53.9074031,248.884179 L189.025959,248.884179 L189.025959,221.930478 L53.9074031,221.930478 L53.9074031,248.884179 Z' fill='%23F48023'%3E%3C/path%3E%3C/g%3E%3C/svg%3E%0A");
        }

      }

    }

  }

  h2 {
    margin: {
      top: 20px;
    }
  }

  #mobilemenu {
    display: none;
  }

  #scrolltocontent {
    display: none;
  }

  @media (max-width: 378px) {
    .new-version-available-msg {
      top: 16px !important;
    }
  }

  @media (max-width: 920px) {
    display: block;
    margin-top: 9px;
    padding-top: 11px;
    padding-bottom: 11px;
    position: fixed;
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(204, 204, 204, 1);
    -moz-box-shadow: 0 2px 5px 0 rgba(204, 204, 204, 1);
    box-shadow: 0 2px 5px 0 rgba(204, 204, 204, 1);
    height: auto;
    overflow: auto;

    h1 {
      margin-right: 65px;
      margin-left: 83px;
      text-align: center;
      font-weight: normal;
    }

    ul.social {
      margin: {
        top: 0;
      }
    }

    h2 {
      display: none;
    }

    p {
      line-height: 1.5em;
      font-size: 1.9em;
      padding-top: 20px;
      border-top: 1px solid #eee;
      padding-bottom: 20px;
      border-bottom: 1px solid #eee;
      letter-spacing: 0;
    }

    #picture {
      display: block;
      float: left;
      margin-left: 20px;

      img {
        width: 40px;
        height: 40px;
        border: {
          width: 5px;
        }
      }
    }

    .new-version-available-msg {

      position: absolute;
      top: 26px;
      left: 80px;
      right: 10px;
      font-size: 1em;
      z-index: 100;
      width: calc(100% - 170px);

      span {
        display: inline-block;

        &:first-child {
          margin: {
            right: 5px;
          }
        }
      }

    }

    #scrolltocontent {

      $svg-data: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='%23444444' d='M348.5 232.1l-148 148.4c-4.7 4.7-12.3 4.7-17 0l-148-148.4c-4.7-4.7-4.7-12.3 0-17l19.6-19.6c4.8-4.8 12.5-4.7 17.1.2l93.7 97.1V44c0-6.6 5.4-12 12-12h28c6.6 0 12 5.4 12 12v248.8l93.7-97.1c4.7-4.8 12.4-4.9 17.1-.2l19.6 19.6c4.9 4.7 4.9 12.3.2 17zM372 428H12c-6.6 0-12 5.4-12 12v28c0 6.6 5.4 12 12 12h360c6.6 0 12-5.4 12-12v-28c0-6.6-5.4-12-12-12z'/%3E%3C/svg%3E%0A";
      @include svg-bg-icon($svg-data, '30px 30px', '0px 3px');

      position: absolute;
      display: none;
      right: 20px;
      top: 28px;
      text-decoration: none;
      border: none;
      width: 30px;
      height: 30px;
      text-indent: -99999px;

      &:focus,
      &:hover {
        text-decoration: none;
        border: none;
      }

    }

    #mobilemenu {
      position: absolute;
      display: block;
      right: 70px;
      top: 20px;
      text-decoration: none;
      border: none;

      &:focus,
      &:hover {
        text-decoration: none;
        border: none;
      }

      span {
        display: block;
        text-indent: -99999px;
      }

      .open {
        width: 30px;
        height: 30px;
        $svg-data: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23444444' d='M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z'/%3E%3C/svg%3E%0A";
        @include svg-bg-icon($svg-data, '30px 30px', '0px 3px');
      }

      .close {
        width: 30px;
        height: 30px;
        $svg-data: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%23444444' d='M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z'/%3E%3C/svg%3E%0A";
        @include svg-bg-icon($svg-data, '30px 30px', '0px 3px');
      }

    }

    #mobilenavcontainer {
      padding: 30px 20px 0 20px;
      display: none;
    }

    nav ol li {
      margin: 0 0 25px 15px;

      a {
        font-size: 1.3em;
        text-transform: uppercase;
      }
    }

    ul.social li {

      a {
        font-size: 25px;
        color: #999;
      }
    }

    &.open {
      height: 100%;

      #mobilenavcontainer {
        display: block;
      }
    }

  }

  @media (min-width: 921px) {

    position: fixed;
    width: 280px;
    margin-left: 50px;
    padding-top: 50px;

    h1 {
      font-size: 1.5em;
      letter-spacing: 3px;
      margin-bottom: 20px;
      text-align: left;
    }

    #picture {
      width: 120px;

      img {
        display: block;
        width: 100px;
        margin-bottom: 20px;
        border: {
          width: 10px;
        }
      }
    }

    .new-version-available-msg {
      position: absolute;
      top: 65px;
      left: 130px;

      span {
        display: block;
      }

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: -16px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px;
        border-color: transparent;
        pointer-events: none;
        margin-top: -8px;
        transform: rotateY(0deg);
        color: #f0433e;
        border-right-color: #f0433e;
      }
    }

    nav ul li {
      margin: 10px 0 10px 15px;

      a {
        padding: 4px 0px;
      }
    }

  }

  @media (max-height: 650px) {
    p {
      font-size: 1.4em;
      line-height: 1.4em;
    }
    ol li {
      margin: 0 0 20px 15px !important;
    }
  }

}

footer {
  display: block;
  margin-top: 25px;
  padding-top: 25px;
  border-top: 1px solid #f6f6f6;

  p {
    font: {
      style: italic;
      size: 1.1em;
    }
    margin: 0;
  }
}

