sv-kwerri {
  display: block;
}

.kwerri {
  &__logo {
    display: block;
    float: left;
    max-width: 200px;
    margin: {
      bottom: 25px;
      right: 50px;
    }
    border: 15px solid #f6f6f6;
    padding: 15px;

    @media (max-width: 1249px) {
      max-width: none;
      float: none;
      margin: {
        bottom: 25px;
        right: 0;
      }
    }

    @media (max-width: 640px) {
      width: calc(100% - 60px);
      margin: {
        bottom: 50px;
        right: 0;
        left: 0;
      }
    }
  }

  &__info {
    tr {
      td {
        vertical-align: top;
        padding-right: 50px;

        &:last-child {
          padding-right: 0px;
        }

        p {
          margin-bottom: 0;
        }
      }
    }

    @media (max-width: 480px) {
      display: block;

      tbody {
        display: block;
      }

      tr {
        display: block;

        td {
          margin-bottom: 15px;
          display: block;
          padding: 0;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

  }

  &__clients {
    list-style: none;
    margin: 25px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      margin: 0;
      width: calc(1 / 3 * 100%);
      @media (min-width: 1300px) {
        width: calc(1 / 5 * 100%);
      }

      img {
        display: block;
        margin: 0 auto;
        width: calc(100% - 50px);
      }
    }

  }

  &__algemene-voorwaarden {
    margin: {
      top: 40px;
    }

    h1 {
      margin: {
        bottom: 20px;
      }
      font: {
        size: 1.8em;
      }
    }

    h2 {
      margin: {
        bottom: 15px;
      }
      font: {
        size: 1.6em;
      }
    }

    h3 {
      margin: {
        bottom: 10px;
      }
      font: {
        size: 1.4em;
      }
    }

    h4 {
      margin: {
        bottom: 5px;
      }
      font: {
        size: 1.2em;
      }
    }

    p {
      font: {
        size: 1em;
      }
    }

    ul, ol {
      font: {
        size: 1em;
      }
      margin-bottom: 10px;

      li {
        font: {
          size: 1em;
        }
        margin-bottom: 5px;
      }
    }
  }

}
