<h1>
    <span>
        6. I operate under <em>Kwerri</em>, my freelancing company!
    </span>
</h1>

<p class="intro">
  Kwerri provides <em>specialised consultancy in web engineering</em>. For me personally, Kwerri acts as my own
  incubator, allowing me to freelance on different projects + <a routerLink="/projects" routerLinkActive="active"
                                                                 title="Projects I'm involved in">start my own</a>.
</p>

<img src="assets/images/kwerri.png" alt="Kwerri logo" id="kwerri"/>

<table>
  <tr>
    <td>
      <p>
        <em>Kwerri BVBA</em><br/>
        Mechelbaan 72<br/>
        2221 Booischot<br/>
        Belgium
      </p>
    </td>
    <td>
      <p>
        V.A.T.: BE 0829 035 541<br/>
        R.P.R. Mechelen<br/>
        (t) <a href="tel:+32494594460">+32 494 594460</a><br/>
        (e) <a href="mailto:info@kwerri.be">sam@kwerri.be</a>
      </p>
    </td>
  </tr>
</table>

<hr/>

<h2 id="clients-partners">Happy clients and partners</h2>

<p>
  We've worked with some very nice clients and partners in the past. With most we still do! Kwerri and it's official
  partners are keen on <em>creating long-term beneficial and win-win relationships</em>.
</p>

<ul class="clients">
  <li>
    <a href="https://www.ordina.be/" target="_blank" rel="noopener" class="ignoreexternal">
      <img src="assets/images/clients/ordina.png" alt="Ordina" title="Ordina"/>
    </a>
  </li>
  <li>
    <a href="https://www.arhs-group.com/entities/digital/" target="_blank" rel="noopener" class="ignoreexternal">
      <img src="assets/images/clients/arhs-digital.png" alt="ARHS Digital" title="ARHS Digital"/>
    </a>
  </li>
  <li>
    <a href="https://proximus.be" target="_blank" rel="noopener" class="ignoreexternal">
      <img src="assets/images/clients/proximus.jpg" alt="Proximus" title="Proximus"/>
    </a>
  </li>
  <li>
    <a href="https://immoweb.be" target="_blank" rel="noopener" class="ignoreexternal">
      <img src="assets/images/clients/immoweb.jpg" alt="Immoweb" title="Immoweb"/>
    </a>
  </li>
  <li>
    <a href="https://www.vlaanderen.be/" target="_blank" rel="noopener" class="ignoreexternal">
      <img src="assets/images/clients/vo.png" alt="Vlaamse Overheid" title="Vlaamse Overheid"/>
    </a>
  </li>
  <li>
    <a href="https://hackages.io" target="_blank" rel="noopener" class="ignoreexternal">
      <img src="assets/images/clients/hackages.png" alt="Hackages" title="Hackages"/>
    </a>
  </li>
  <li>
    <a href="https://www.juvo.be/" target="_blank" rel="noopener" class="ignoreexternal">
      <img src="assets/images/clients/juvo.png" alt="Juvo" title="Juvo"/>
    </a>
  </li>
  <li>
    <a href="http://www.ideeds.be/" target="_blank" rel="noopener" class="ignoreexternal">
      <img src="assets/images/clients/ideeds.png" alt="ideeds" title="ideeds"/>
    </a>
  </li>
  <li>
    <a href="http://www.vink.be" target="_blank" rel="noopener" class="ignoreexternal">
      <img src="assets/images/clients/vink.png" alt="Vink" title="Vink"/>
    </a>
  </li>
</ul>

<h2 id="legal-general-conditions">Legal & general conditions</h2>

<p>
  <a href="#" (click)="toggleGeneralConditionsShown($event)">Show the general conditions (nl) / Toon de algemene
    voorwaarden</a>
</p>

<section id="algemene-voorwaarden" class="clearfix" *ngIf="generalConditionsShown">

  <h1> Algemene voorwaarden van KWERRI BVBA </h1>

  <p>[Kwerri BVBA, KBO-0829 035 541, Mechelbaan 72, 2221 Heist-op-den-Berg]</p>
  <p>Deze voorwaarden zijn van toepassing op alle leveringen door KWERRI BVBA, tenzij uitdrukkelijk anders vermeld
    wordt in een schriftelijke overeenkomst.</p>
  <p>Door de ondertekening van een overeenkomst met KWERRI BVBA, of een bestelbon van KWERRI BVBA, of door bevestiging
    van een offerte of bestelling per e-mailbericht, verklaart de opdrachtgever op de hoogte te zijn van deze
    leveringsvoorwaarden en deze te aanvaarden.</p>
  <p>Deze voorwaarden werden vastgelegd op 1 oktober 2010.</p>

  <h2>1. LEVERINGSVOORWAARDEN KWERRI BVBA</h2>
  <h3>a) DEFINITIES</h3>

  <p>Website: een samenhangend geheel van digitale internetpagina’s, met inbegrip van eventuele bijbehorende digitale
    afbeeldingen, scripts en databases.</p>
  <p>Onderhoud van een website: het door KWERRI BVBA inpassen van nieuwe door de opdrachtgever aangeleverde informatie
    (teksten, afbeeldingen of data in welke vorm dan ook) in de bestaande website van de opdrachtgever, ofwel het
    maken van nieuwe of veranderen van bestaande teksten, afbeeldingen of data in welke vorm dan ook, in de
    bestaande website van de opdrachtgever.</p>
  <p>Opdrachtgever: de natuurlijke of rechtspersoon met wie KWERRI BVBA een overeenkomst sluit tot het leveren van
    diensten.</p>
  <p>Webapplicatie of CMS: een samenhangend geheel van digitale internetpagina’s, met inbegrip van eventuele
    bijhorende afbeeldingen, scripts en databases, waarbij het mogelijk is, na het eventueel inloggen door een
    gebruiker, inhoud aan te passen op een andere of bijhorende website.</p>
  <p>Webhosting: het systeem of de ruimte waarop de website of webapplicatie of CMS wordt geplaatst en gehost. Dit
    omvat alle diensten zoals het doorverwijzen van een eventuele domeinnaam en het inloggen via FTP.</p>

  <h3>b) TOEPASSELIJKHEID</h3>

  <p>Door de ondertekening van een overeenkomst met KWERRI BVBA, of een bestelbon van KWERRI BVBA, of door bevestiging
    van een offerte of bestelling per e-mailbericht, verklaart de opdrachtgever op de hoogte te zijn van deze
    leveringsvoorwaarden en deze te aanvaarden.</p>
  <p>Afwijkingen van de algemene leveringsvoorwaarden is slechts mogelijk wanneer deze ten laatste op het moment van
    de totstandkoming van de overeenkomst schriftelijk zijn overeengekomen tussen KWERRI BVBA en de
    opdrachtgever.</p>

  <h3>c) AANBIEDING EN AANVAARDING</h3>

  <p>Alle offertes en prijsopgaven door KWERRI BVBA zijn geheel vrijblijvend.</p>
  <p>Offertes en prijsopgave door KWERRI BVBA blijven 30 dagen geldig, tenzij anders bepaald door KWERRI BVBA.</p>
  <p>Wijzigingen in de oorspronkelijke overeenkomst tussen de opdrachtgever en KWERRI BVBA zijn slechts geldig vanaf
    het moment dat deze wijzigingen in een aanvullende of gewijzigde overeenkomst zijn vastgelegd en door zowel
    opdrachtgever als KWERRI BVBA zijn ondertekend.</p>
  <p>Een samengestelde prijsopgave verplicht KWERRI BVBA niet tot het verrichten van een gedeelte van de opdracht
    tegen een overeenkomstig deel van de opgegeven prijs.</p>
  <p>Aanbiedingen of offertes zijn slechts geldig met betrekking tot de opdracht waarop ze betrekking hebben en
    verbinden KWERRI BVBA niet voor andere en toekomstige opdrachten.</p>
  <p>De opdrachtgever en KWERRI BVBA erkennen wederzijds de bewijswaarde in rechte van e-mailberichten.</p>

  <h3>d) UITVOERING VAN DE OVEREENKOMST</h3>

  <p>KWERRI BVBA zal de overeenkomst naar best inzicht en vermogen en overeenkomstig de eisen van goed vakmanschap
    uitvoeren.</p>
  <p>Indien en voor zover een goede uitvoering van de overeenkomst dit vereist, heeft KWERRI BVBA het recht bepaalde
    werkzaamheden te laten verrichten door derden.</p>
  <p>De opdrachtgever draagt er zorg voor dat alle gegevens, waarvan KWERRI BVBA aangeeft dat deze noodzakelijk zijn
    of waarvan de opdrachtgever redelijkerwijs behoort te begrijpen dat deze noodzakelijk zijn voor het uitvoeren
    van de overeenkomst, tijdig en zonder vertraging worden verstrekt aan KWERRI BVBA.</p>
  <p>Indien de gegevens niet tijdig aan KWERRI BVBA worden verstrekt, heeft KWERRI BVBA het recht de uitvoering van de
    overeenkomst op te schorten en/of de uit de vertraging voortvloeiende extra kosten volgens de gebruikelijke
    tarieven aan de opdrachtgever in rekening te brengen.</p>
  <p>KWERRI BVBA is niet aansprakelijk voor schade, van welke aard ook, als gevolg van het gebruik van door de
    opdrachtgever verstrekte onjuiste en/of onvolledige gegevens.</p>
  <p>Indien wordt overeengekomen dat de overeenkomst in fasen zal worden uitgevoerd kan KWERRI BVBA de uitvoering van
    die onderdelen die tot een volgende fase behoren opschorten tot dat de opdrachtgever de resultaten van de
    daaraan voorafgaande fase schriftelijk heeft goedgekeurd.</p>
  <p>De opdrachtgever vrijwaart KWERRI BVBA voor eventuele aanspraken van derden, die in verband met de uitvoering van
    de overeenkomst schade zouden lijden die aan de opdrachtgever toerekenbaar is.</p>

  <h3>e) DUUR VAN DE OVEREENKOMST EN BEEINDIGING</h3>

  <p>Tenzij anders overeengekomen tussen de partijen wordt elke opdracht, uitgevoerd door KWERRI BVBA voor de
    opdrachtgever, beschouwd als een eenmalige verbintenis.</p>
  <p>Leveringstermijnen en perioden waarbinnen de overeenkomst zal worden uitgevoerd, worden bepaald in de
    overeenkomst zelf.</p>
  <p>Voor zover dat de overeenkomst tussen de opdrachtgever en KWERRI BVBA geheel of ten dele een
    onderhoudshoudscontract inhoudt, worden de modaliteiten hiervan apart vermeld in de overeenkomst zelf.</p>
  <p>KWERRI BVBA kan een overeenkomst met de opdrachtgever direct beëindigen wanneer de opdrachtgever zich niet,
    onbehoorlijk of onvolledig houdt aan de met KWERRI BVBA gesloten overeenkomsten inclusief de bijhorende
    leveringsvoorwaarden.</p>
  <p>KWERRI BVBA heeft het recht de overeenkomsten zonder ingebrekestelling of gerechtelijke tussenkomst met
    onmiddellijke ingang te beëindigen indien de opdrachtgever in staat van faillissement is verklaard, of beroep
    doet op de Wet betreffende de continuïteit van ondernemingen of anderszins het vrije beheer over zijn vermogen
    heeft verloren. De opdrachtgever heeft alsdan geen recht op enige schadevergoeding.</p>

  <h3>f) LEVERING EN LEVERTIJD</h3>

  <p>KWERRI BVBA gaat na ontvangst van de benodigde gegevens, teksten en/of beeldmateriaal zo spoedig mogelijk van
    start met het aanmaken van de overeengekomen producten en/of diensten en deelt de opdrachtgever de verwachte
    levertijd mee.</p>
  <p>De levertijd wordt steeds bij benadering gegeven en is onder meer afhankelijk van het tijdig ter beschikking
    hebben door KWERRI BVBA van de nodige gegevens, teksten en/of beeldmateriaal die betrekking hebben op de
    specifieke opdracht.</p>
  <p>Mocht KWERRI BVBA onverhoopt niet in staat zijn binnen de overeengekomen levertijd aan zijn verplichtingen te
    voldoen, kan KWERRI BVBA alleen schriftelijk in gebreke worden gesteld, waarbij KWERRI BVBA een termijn van
    minimaal 21 werkdagen gegund wordt om haar verplichtingen na te komen.</p>

  <h3>g) OVERMACHT</h3>

  <p>KWERRI BVBA aanvaardt geen enkele aansprakelijkheid wanneer KWERRI BVBA als gevolg van overmacht niet aan zijn
    verplichtingen kan voldoen.</p>
  <p>In het geval dat de overmacht slechts tijdelijk van aard is, zal KWERRI BVBA alsnog aan alle verplichtingen
    trachten te voldoen vanaf het moment dat dit redelijkerwijs weer mogelijk is. Wanneer na onderling overleg
    tussen de opdrachtgever en KWERRI BVBA dient vastgesteld te worden wordt dat dit niet meer mogelijk is, zal de
    overeenkomst in onderling overleg herzien of ontbonden worden. Eventuele reeds geleverde prestaties door KWERRI
    BVBA tot aan het moment van overmacht zullen alsnog gefactureerd worden.</p>

  <h3>h) PRIJZEN</h3>

  <p>Alle in de offerte of overeenkomst vermelde prijzen zijn exclusief BTW, tenzij nadrukkelijk anders bepaald.</p>
  <p>Wijzigingen in de tarieven worden door KWERRI BVBA minimaal 1 maand van tevoren bekendgemaakt aan de
    opdrachtgever. Laatstgenoemde is gerechtigd de overeenkomst te beëindigen vanaf het moment dat de aangepaste
    tarieven van kracht worden.</p>

  <h3>i) BETALING</h3>

  <p>De vervaltermijn van de door KWERRI BVBA opgestelde facturen is 30 dagen tenzij schriftelijk anders bepaald
    tussen de partijen.</p>
  <p>In het geval dat de overeenkomst geheel of ten dele een onderhoudsovereenkomst uitmaakt, wordt door KWERRI BVBA
    aan de opdrachtgever telkenmale aan het begin van de overeengekomen onderhoudsperiode een factuur gestuurd.</p>
  <p>De opdrachtgever dient binnen 30 dagen na het verzenden van de factuur door KWERRI BVBA het verschuldigde bedrag
    te voldoen. De periode van onderhoud en de betalingstermijn hiervan kan in een schriftelijke overeenkomst
    gewijzigd worden.</p>
  <p>KWERRI BVBA behoudt zich het recht voor om eventuele lopende werkzaamheden of geleverde diensten tijdelijk op te
    schorten, totdat verschuldigde bedragen door de opdrachtgever zijn betaald.</p>
  <p>Vanaf het moment dat de opdrachtgever de betalingstermijn van de respectievelijke facturen overschrijdt, is hij
    zonder uitdrukkelijke ingebrekestelling in gebreke.</p>
  <p>Vanaf dan gelden de bepalingen van de Wet van 2 augustus 2002 betreffende de bestrijding van de
    betalingsachterstand bij handelstransacties.</p>
  <p>Opmerkingen met betrekking tot de door KWERRI BVBA uitgeschreven facturen dienen binnen de 8 dagen na verzending
    van de factuur door de opdrachtgever aan KWERRI BVBA worden overgemaakt, met een aangetekend schrijven.</p>
  <p>De opdrachtgever krijgt het gebruiksrecht op de geleverde goederen en/of diensten slechts vanaf het moment dat
    hij aan al zijn verplichtingen jegens KWERRI BVBA heeft voldaan.</p>

  <h3>j) COPYRIGHT</h3>

  <p>Al het door KWERRI BVBA vervaardigde materiaal en de door KWERRI BVBA ontworpen websitetoepassingen mogen zonder
    de uitdrukkelijke toelating van KWERRI BVBA niet worden bewerkt of verwerkt in andere toepassingen dan deze
    waarvoor ze oorspronkelijk gemaakt zijn, tenzij anders uitdrukkelijk schriftelijk overeengekomen tussen de
    partijen.</p>
  <p>KWERRI BVBA behoudt het eigendomsrecht van de door KWERRI BVBA verstrekte ideeën, concepten of ontwerpen, tenzij
    uitdrukkelijk schriftelijk anders overeengekomen tussen de partijen. In het laatste geval kan KWERRI BVBA
    hiervoor een vergoeding bedingen.</p>
  <p>Bij vastgestelde schending van het copyright is KWERRI BVBA gerechtigd hiervoor een vergoeding aan de
    opdrachtgever te rekenen.</p>
  <p>Deze vergoeding zal minimaal 50% van de door KWERRI BVBA aan de opdrachtgever gefactureerde bedragen voor het
    desbetreffende project bedragen.</p>
  <p>KWERRI BVBA is niet aansprakelijk voor de gevolgen en mogelijke schade bij de opdrachtgever of bij derden als
    gevolg van het gebruik van de door KERRI BVBA geleverde producten, toepassingen en programma’s bij vastgestelde
    miskenning van het vermelde copyright.</p>

  <h3>k) AANSPRAKELIJKHEID</h3>

  <p>De opdrachtgever geniet enkel een garantie uit hoofde van verborgen gebreken onder de volgende voorwaarden:</p>

  <ul>
    <li>tijdige en volledige betaling van de prijs</li>
    <li>verwittiging per aangetekend schrijven binnen de 24 uur nadat het gebrek werd ontdekt of redelijkerwijze
      diende gekend te zijn
    </li>
  </ul>

  <p>De garantie beperkt zich naar keuze van KWERRI BVBA tot de gratis oplossing van het gebrek of de terugbetaling
    van de prijs daarvan en geldt enkel binnen de eerste 3 maanden na levering.</p>
  <p>In geen geval is KWERRI BVBA aansprakelijk voor gevolgschade, van welke aard ook. KWERRI BVBA is niet
    verantwoordelijk voor gebreken die het gevolg zijn van een onoordeelkundig gebruik door de opdrachtgever of door
    derden.</p>
  <p>De opdrachtgever geniet een garantie uit hoofde van zichtbare gebreken op voorwaarde dat deze binnen de 8 dagen
    na levering aan KWERRI BVBA worden gemeld.</p>
  <p>In geen geval is KWERRI BVBA aansprakelijk voor onrechtstreekse schade zoals onder meer commerciële of financiële
    verliezen, verlies van data, verlies van reputatie, winst of omzetderving, verlies van klanten en verliezen als
    gevolg van gerechtelijke stappen door derden ondernomen tegen de opdrachtgever.</p>
  <p>KWERRI BVBA kan op geen enkele wijze aansprakelijk worden gesteld voor eventuele uitval van de Internet connectie
    door technische of andere storingen zowel binnen als buiten het netwerk. De opdrachtgever is als enige
    aansprakelijk voor het behoorlijk gebruik van het product, de dienst, of de software daarbij rekening houdend
    met de specificaties, de documentatie en de instructies van KWERRI BVBA.</p>
  <p>KWERRI BVBA zal ten opzichte van de opdrachtgever enkel aansprakelijk zijn voor de werkelijk geleden en bewezen
    schade voortvloeiend uit de in met KWERRI BVBA gesloten overeenkomsten opgenomen verplichtingen, aldus met
    uitsluiting van enige andere impliciete of niet-geschreven verplichtingen. De aansprakelijkheid van KWERRI BVBA
    volgens of in verband met een met KWERRI BVBA gesloten overeenkomst zal, per claim of reeks van claims,
    voortvloeiend uit hetzelfde feit of dezelfde oorzaak, in ieder geval niet groter zijn dan het totaal van de aan
    de klant gefactureerde en door hem effectief betaalde bedragen voor de koopprijs of terugkerende kosten van de
    dienstverlening over een periode van drie maanden die aan het voorval voorafgaan en die betrekking hebben op het
    specifieke project waarmee de claim in verband staat.</p>
  <p>De opdrachtgever dient er rekening mee te houden dat informatie die via internet verzonden wordt, door derden kan
    gecapteerd worden. KWERRI BVBA kan niet aansprakelijk gesteld worden voor schade in welke vorm dan ook
    veroorzaakt door het verzenden van vertrouwelijke of geheime informatie.</p>
  <p>KWERRI BVBA is niet verantwoordelijk of aansprakelijk voor de inhoud van het door de opdrachtgever aangeleverde
    materiaal dat op de website van de opdrachtgever is aangebracht.</p>
  <p>De inhoud van de gegevensverspreiding en -publicatie blijft in alle gevallen de eigen verantwoordelijkheid van de
    opdrachtgever. KWERRI BVBA wordt niet geacht deze te beperken of erop toe te zien, noch kan KWERRI BVBA
    aansprakelijk worden gesteld voor de inhoud van de eigen publicatie. Alle nodige auteursrechten, vergoedingen,
    onkosten of boetes zijn ten laste van de opdrachtgever.</p>

  <h2>2. ALGEMENE VOORWAARDEN KWERRI BVBA</h2>

  <p>De opdrachtgever dient KWERRI BVBA terstond schriftelijk op de hoogte te stellen van wijzigingen in
    identiteitsgegevens van de opdrachtgever. Wanneer de opdrachtgever dit nalaat, is laatstgenoemde volledig
    aansprakelijk voor eventuele hierdoor veroorzaakte, door KWERRI BVBA geleden schade.</p>

  <h3>a) OVERDRACHT RECHTEN EN PLICHTEN</h3>

  <p>KWERRI BVBA noch de opdrachtgever zijn gerechtigd hun rechten of plichten voortvloeiend uit gesloten
    overeenkomsten over te dragen aan een derde partij zonder voorafgaande schriftelijke toestemming van de
    wederpartij.</p>

  <h3>b) PROTEST</h3>

  <p>De opdrachtgever heeft gedurende 8 dagen na levering de gelegenheid duidelijk omschreven gebreken aan de
    geleverde producten te melden aan KWERRI BVBA, waarna KWERRI BVBA deze gebreken zal trachten te verhelpen.
    Wanneer aan KWERRI BVBA binnen de genoemde termijn geen gebreken gemeld worden, vervalt elke mogelijkheid tot
    protest. Door de opdrachtgever verstrekte onjuiste informatie die leidt tot gebreken in het geleverde wordt
    nadrukkelijk niet verstaan onder gebreken.</p>
  <p>Protest schort de verplichtingen van de opdrachtgever niet op.</p>

  <h3>3) WIJZIGINGEN VOORWAARDEN</h3>

  <p>KWERRI BVBA behoudt zich het recht voor deze algemene leveringsvoorwaarden te wijzigen of aan te vullen.</p>
  <p>Wijzigen gelden ook ten aanzien van reeds gesloten overeenkomsten met inachtneming van een termijn van 30 dagen
    na schriftelijke bekendmaking van de wijzigingen.</p>
  <p>Indien de opdrachtgever niet akkoord gaat met de gewijzigde algemene leveringsvoorwaarden, is hij gerechtigd de
    overeenkomst te ontbinden met ingang van de wijzigingsdatum van de algemene leveringsvoorwaarden of binnen 7
    dagen na de ontvangstdatum van de wijziging van de algemene leveringsvoorwaarden indien deze ontvangstdatum ligt
    na de ingangsdatum van de wijziging.</p>

  <h3>4) OVERIGE</h3>

  <p>KWERRI BVBA zal geen persoonlijke gegevens van de opdrachtgever aan derden verstrekken zonder dat daar een
    wettelijke plicht voor bestaat. Dit geldt tevens voor eventuele vertrouwelijke informatie die ten behoeve van
    het uitvoeren van een overeenkomst verstrekt is aan KWERRI BVBA.</p>
  <p>Wanneer de opdrachtgever verkiest de webhosting van het project door een andere hoster te laten verzorgen, is hij
    gebonden aan de voorwaarden die deze webhoster stelt.</p>
  <p>Wanneer dit nodig mocht zijn, kunnen wijzigingen in een overeenkomst na schriftelijke bevestiging van beide
    partijen doorgevoerd worden. Hierdoor kan het overeengekomen tijdstip van oplevering veranderen. KWERRI BVBA zal
    de opdrachtgever zo spoedig mogelijk van de nieuwe opleveringsdatum en eventuele financiële consequenties op de
    hoogte stellen.</p>
  <p>KWERRI BVBA is vrij om voor promotiedoeleinden als referentie te verwijzen naar de geleverde eindproducten,
    tenzij nadrukkelijk anders is overeengekomen.</p>

  <h3>5) GESCHILLEN EN TOEPASSELIJK RECHT</h3>

  <p>Indien bij gerechtelijke uitspraak een of meer artikelen van deze voorwaarden ongeldig worden verklaard, zullen
    overige bepalingen van deze algemene voorwaarden volledig van kracht blijven en zullen KWERRI BVBA en de
    opdrachtgever in overleg treden teneinde nieuwe bepalingen ter vervanging van de nietige, dan wel vernietigde
    bepalingen in acht worden genomen.</p>
  <p>Op alle onder deze voorwaarden gedane aanbiedingen en gesloten overeenkomsten is uitsluitend het Belgisch recht
    van toepassing.</p>
  <p>Alle geschillen, direct of indirect uit de overeenkomst voortvloeiend of daarmee verband houdend, kunnen
    uitsluitend bij de bevoegde rechtbank van het Arrondissement Mechelen of de Vrederechter van het Kanton
    Heist-op-den-Berg aanhangig worden gemaakt.</p>
  <p>Met deze voorwaarden zijn alle voorafgaande exemplaren vervallen. Deze voorwaarden zijn gepubliceerd op de
    website van KWERRI BVBA op 1 oktober 2010</p>

</section>
