@import 'variables';

sv-talks {
  display: block;
}

.talks {
  &__list {
    font-size: 1.5em;
    padding: 0;
    margin: {
      bottom: 20px;
    }

    li {
      margin: {
        bottom: 15px;
      }

      &.canceled {
        text-decoration: line-through;
      }
    }
  }

  &__speaker-info {
    @media (max-width: $mobile-max-bp) {
      width: 100%;
    }

    th {
      @media (min-width: $mobile-max-bp) {
        min-width: 225px;
      }
    }

    th, td {
      display: block;
      word-break: break-word;
      padding: {
        left: 0;
      }
    }

    td {
      font-style: italic;
    }
  }
}

