:host {
  display: block;
}

ul {

  font-size: 1.5em;
  padding: 0;
  margin: {
    bottom: 20px;
  }

  li {
    margin: {
      bottom: 15px;
    }
  }

}

table.speaker-info {

  @media (max-width: 920px) {
    width:100%;
  }
  th {
    @media (min-width: 920px) {
      min-width: 225px;
    }
  }

  th, td {
    display:block;
    word-break: break-word;
  }

  td {
    font-style: italic;
  }
}

