:host {
  display: block;
}

ul {

  font-size: 1.5em;
  padding: 0;
  margin: {
    bottom: 20px;
  }

  li {
    margin: {
      bottom: 15px;
    }
  }

}

table.speaker-info {
  th {
    min-width: 225px;
  }
}

