<h1>
    <span>
        3. I like to <em>talk and organise</em>, giving others a stage!
    </span>
</h1>

<p class="intro">
  The things I talk about can be of all kinds. Mostly I share the things I do for the
  <a routerLink="/projects" routerLinkActive="active" title="Projects I'm involved in">projects I'm involved in</a>,
  but it can also just be a good incentive to <em>learn in-depth about a specific technology</em>. Or trying
  to solve a problem I faced during my day-to-day coding battles, setting up architectures, etc.
</p>

<div class="sidepic right">
  <a
    href="https://photos.google.com/share/AF1QipOpnydz8dY6QJdHvklZjL6oKZ7fsOP997hS31_MHk3oxhoc5DQLmovXp__mn4Ksfg?key=VDhDYl9kVXI0LUgzZUdyYVhfM2lPM2JkRlFNZUxn"
    target="_blank"
    class="ignoreexternal"
    rel="noopener">
    <img src="assets/images/talks/ngbe2018.jpg" alt="NG-BE 2018 opening ceremony"/>
  </a>
  <p>Opening ceremony by Sam, Wassim & Jurgen, NG-BE 2018</p>
</div>

<p>
  Besides that <em>I love to train people in using the technologies I love to explore</em> as an early
  adaptor. As a regular co-organiser of the
  <a rel="noopener" target="_blank" href="https://www.meetup.com/angular-belgium/">Angular Belgium</a> meetup
  group and <a rel="noopener" target="_blank" href="https://ng-be.org">NG-BE conference</a> I try to invite & welcome as
  many passionate developers as we can.
</p>

<p>
  <a routerLink="/" title="Get in touch to have me talk at your event!">Contact me</a> if you'd like me to talk at
  your event, I would be very happy to! And <em>if you are a speaker, experienced or only beginning, we have a
  stage for you!</em> We invite everybody to come and speak about any web-related topic they are willing to share
  something about!
</p>

<h2 id="upcoming-events">Upcoming events</h2>

<ul class="talks__list">
  <li>
    <span class="date">
      [29/07/2020]
    </span>
    -
    <a href="https://www.meetup.com/en-AU/angular-heidelberg/events/271895112/" class="title" target="_blank"
       rel="noopener">
      Angular & Technical SEO
    </a>
    -
    <span class="where">
      Online ( <strong>ngHeidelberg - Speaker</strong> )
    </span>
  </li>
  <li>
    <span class="date">
      [06/08/2020]
    </span>
    -
    <a href="https://www.angularmeetup.com/#/global-angular-meetup-august-2020" class="title" target="_blank"
       rel="noopener">
      Angular & Technical SEO
    </a>
    -
    <span class="where">
      Online ( <strong>Global Angular Meetup - Speaker</strong> )
    </span>
  </li>
</ul>

<!--
<p>
  Nothing planned
</p>
-->

<h2 id="speaker-info">My speaker info</h2>

<p>
  Please refer to the following details if you are looking for my picture and (short) bio.
</p>

<table class="talks__speaker-info">
  <tr>
    <th>Link to picture:</th>
    <td>
      <p>
        <a href="https://samvloeberghs.be/assets/images/samvloeberghs.jpg" target="_blank">
          https://samvloeberghs.be/assets/images/samvloeberghs.jpg
        </a>
      </p>
    </td>
  </tr>
  <tr>
    <th>Short speaker bio:</th>
    <td>
      <p>
        Sam is a freelance software architect and Internet entrepreneur, currently focusing on frontend technologies.
        Co-organiser of NG-BE and Angular Belgium meetup. <a
        href="https://samvloeberghs.be">https://samvloeberghs.be</a>
      </p>
    </td>
  </tr>
  <tr>
    <th>Full speaker bio:</th>
    <td>
      <p>
        Sam is a freelance software architect and Internet entrepreneur, currently focusing on frontend technologies
        and frameworks like Angular and Workbox while keeping a sharp eye on the basics and advanced aspects of HTML5.
      </p>
      <p>
        He is the co-organiser of the Belgian Angular Conference, NG-BE and the Angular Belgium meetup. Sam writes about
        the technologies he uses on a daily basis at <a href="https://samvloeberghs.be">https://samvloeberghs.be</a>.
      </p>
      <p>
        While he is not working he likes to spend time with his family and working out in the gym or going for a long
        walk!
      </p>
    </td>
  </tr>
</table>

<h2 id="past-events">Past events</h2>

<h3>2020</h3>

<ul class="talks__list">
  <li>
    <span class="date">
      [25/06]
    </span>
    -
    <a href="https://www.meetup.com/en-AU/Dutch-Angular-group/" class="title" target="_blank" rel="noopener">
      Custom plugins for Scully - The Static Site Generator for Angular
    </a>
    -
    <span class="where">
        Online ( <strong>Dutch Angular Group - Speaker</strong> )
    </span>
    -
    <a href="https://docs.google.com/presentation/d/1XTnnE04g9bea85R-Rh9ZaHn4CF6UHo8J8teHJj3Vpco/edit?usp=sharing"
       target="_blank" rel="noopener">
      slides
    </a>
  </li>
  <li>
    <span class="date">
      [17/06]
    </span>
    -
    <a href="https://www.meetup.com/en-AU/Angular-Ruhr/events/270523961/" class="title" target="_blank"
       rel="noopener">
      3 things you didn't know about Scully
    </a>
    -
    <span class="where">
        Online ( <strong>AngularRuhr - Speaker</strong> )
    </span>
    -
    <a href="https://docs.google.com/presentation/d/1PtdPt_R6t6v_K9FhKQ637inCKNnPFgq63NvTKIBHePE/edit?usp=sharing"
       target="_blank" rel="noopener">
      slides
    </a>
  </li>
  <li>
    <span class="date">
      [09/06]
    </span>
    -
    <a href="https://www.meetup.com/Angular-Meetup-Leipzig/events/270830045/" class="title" target="_blank"
       rel="noopener">
      Everything you should know about Scully
    </a>
    -
    <span class="where">
        Online ( <strong>ngLeipzig #29 - Speaker</strong> )
    </span>
    -
    <a href="https://docs.google.com/presentation/d/1ahmxyDY1LJazRB9f0RcDtKcUeLVXhITjZq6ELs8tT8E/edit?usp=sharing"
       target="_blank" rel="noopener">
      slides
    </a>
  </li>
  <li>
    <span class="date">
      [05/03]
    </span>
    -
    <a href="https://www.meetup.com/Fronteers-BE/events/267803949/"
       class="title" target="_blank" rel="noopener">
      Creating powerful offline experiences with Workbox
    </a>
    -
    <span class="where">
       Leuven, Belgium ( <strong>Fronteers meetup at Cronos Leuven  - Speaker</strong> )
    </span>
    -
    <a
      href="https://docs.google.com/presentation/d/e/2PACX-1vQ0nl-4qYQKemuFO8zHoMDa2gboXpDbOoy1PjoaUbJeoSdx8b9z-uGvsEo0fnzDVrsaBaEH4C4hQ0cW/pub?start=false&loop=true&delayms=60000"
      target="_blank" rel="noopener">
      slides
    </a>
  </li>
  <li>
    <span class="date">
      [29/01]
    </span>
    -
    <a href="https://www.meetup.com/en-AU/BeJS-JS-community-in-Brussels/events/267808671/"
       class="title" target="_blank" rel="noopener">
      Creating powerful offline experiences with Workbox
    </a>
    -
    <span class="where">
        Brussels ( <strong>BeJS #2 meetup - Speaker</strong> )
    </span>
    -
    <a
      href="https://docs.google.com/presentation/d/e/2PACX-1vTB_oqOPkEBH839xEUVhO9EG3Y5eRHtaEcvL1-az8eqgx4t0Q-le2eVF-B6wWWY1AH0FLe-oR8cbC7O/pub?start=false&loop=false&delayms=60000"
      target="_blank" rel="noopener">
      slides
    </a>
  </li>
</ul>

<h3>2019</h3>

<ul class="talks__list">
  <li>
    <span class="date">
      [05-06/12]
    </span>
    -
    <a href="https://ng-be.org/"
       class="title" target="_blank" rel="noopener">
      NG-BE 2019
    </a>
    -
    <span class="where">
     Holiday Inn - Ghent, Belgium ( <strong>Organiser</strong> )
    </span>
  </li>
  <li>
    <span class="date">
      [18/10]
    </span>
    -
    <a href="https://ngspain.com/schedule/2019-10-19?sessionId=117"
       class="title" target="_blank" rel="noopener">
      Better SEO & sharing on social media platforms with Angular Universal
    </a>
    -
    <span class="where">
        Google Campus - Madrid, Spain ( <strong>ngSpain Conference - Speaker</strong> )
    </span>
    -
    <a href="https://docs.google.com/presentation/d/1XJFJyw9ZTzzv_e2npdCYlbGb020DVXc05PxSW8oXYr8/edit" target="_blank"
       rel="noopener">
      slides
    </a>
  </li>
  <li>
    <span class="date">
      [04/10]
    </span>
    -
    <a href="https://ordina-jworks.github.io/join/#sam-vloeberghs"
       class="title" target="_blank" rel="noopener">
      Better SEO & sharing on social media platforms with Angular Universal
    </a>
    -
    <span class="where">
        Elewijt Center, Belgium ( <strong>Ordina JWorks - JOIN event - Speaker</strong> )
    </span>
    -
    <a href="https://docs.google.com/presentation/d/11C_VmhHKA13pfTzjfC22hXV-7WT2ZRfsQtnDHlTW694/edit?usp=sharing"
       target="_blank" rel="noopener">
      slides
    </a>
  </li>
  <li>
    <span class="date">
      [02/10]
    </span>
    -
    <a href="https://www.meetup.com/JSLuxembourg/events/261315634/"
       class="title" target="_blank" rel="noopener">
      Implementing powerful offline experiences with Workbox
    </a>
    -
    <span class="where">
        Luxembourg City, Luxembourg ( <strong>JavaScript Meetup Luxembourg - Speaker</strong> )
    </span>
    -
    <a href="https://docs.google.com/presentation/d/16_yZG-Z4wuVkluaAuSvo0d4qaJcBcy6BEuSH71JRivY/edit?usp=sharing"
       target="_blank" rel="noopener">
      slides
    </a>
  </li>
  <li class="canceled">
    <span class="date">
      [19/09]
    </span>
    -
    <a href="https://gears.gent/"
       class="title" target="_blank" rel="noopener">
      Implementing powerful offline experiences with Workbox (event canceled)
    </a>
    -
    <span class="where">
        ArtCube - Ghent, Belgium ( <strong>Gears by Showpad - Speaker</strong> )
    </span>
  </li>
  <li>
    <span class="date">
      [18/09]
    </span>
    -
    <a href="https://www.meetup.com/jsbe-io/events/264182223/"
       class="title" target="_blank" rel="noopener">
      Implementing powerful offline experiences with Workbox
    </a>
    -
    <span class="where">
        House of Innovation - Antwerp, Belgium ( <strong>JSBE meetup - Speaker</strong> )
    </span>
    -
    <a href="https://docs.google.com/presentation/d/1Q4Yf2tb7Rf4oYD5NwXgzV1pD62MHFZ2CUfAn2BFqEmg/edit?usp=sharing"
       target="_blank" rel="noopener">
      slides
    </a>
  </li>
  <li>
    <span class="date">
      [25/07]
    </span>
    -
    <a href="https://www.meetup.com/Angular-Portugal/events/262583435/"
       class="title" target="_blank" rel="noopener">
      Better SEO & sharing on social media platforms with Angular Universal
    </a>
    -
    <span class="where">
        KWAN - Lisbon, Portugal ( <strong>Angular Portugal Meetup - Speaker</strong> )
    </span>
    -
    <a href="https://docs.google.com/presentation/d/17oImRmLS0mhOWT0XvLUSuGzADIXsb91gRP-Yp6f4Sw8/edit?usp=sharing"
       target="_blank" rel="noopener">
      slides
    </a>
  </li>
  <li>
    <span class="date">
      [15/05]
    </span>
    -
    <a href="https://editx.eu/it-challenge/angular-challenge-europe-2019"
       class="title" target="_blank" rel="noopener">
      Angular Challenge Europe - Finals
    </a>
    -
    <span class="where">
        Showpad - Ghent, Belgium ( <strong>Speaker & organiser </strong> )
    </span>
  </li>
  <li>
    <span class="date">
      [25/04]
    </span>
    -
    <a href="https://www.meetup.com/Angular-Belgium/events/259904753/"
       class="title" target="_blank" rel="noopener">
      Going offline with Workbox & Custom decorators in TypeScript
    </a>
    -
    <span class="where">
        PeopleWear - Lier, Belgium ( <strong>Angular Belgium - Speaker & organiser</strong> )
    </span>
    -
    <a href="https://docs.google.com/presentation/d/12-9fqNMKzXquZkrdyZ6uFc8AYsls1VqmqMLZpJvKyfc/edit?usp=sharing"
       target="_blank" rel="noopener">
      slides
    </a>
  </li>
  <li>
    <span class="date">
      [21/02]
    </span>
    -
    <a href="https://www.meetup.com/jsbe-io/events/258273772/"
       class="title" target="_blank" rel="noopener">
      Angular Universal & SEO and Consumer Driven contract testing with Pact
    </a>
    -
    <span class="where">
      Axxes - Antwerp, Belgium ( <strong>Speaker</strong> )
    </span>
    -
    <a href="https://docs.google.com/presentation/d/1jDzp1Lw4zJMhgPAk7UZweDIf2ALmpI2EqIIXyi_UoJE/edit?usp=sharing"
       target="_blank" rel="noopener">
      slides
    </a>
  </li>
</ul>

<h3>2018</h3>

<ul class="talks__list">
  <li>
    <span class="date">
      [20/12]
    </span>
    -
    <a href="https://www.meetup.com/Angular-Belgium/events/256381588/"
       class="title" target="_blank" rel="noopener">
      End of year meetup: Angular & Firebase
    </a>
    -
    <span class="where">
      Cegeka - Ghent, Belgium ( <strong>Angular Belgium host</strong> )
    </span>
  </li>
  <li>
    <span class="date">
      [06-07/12]
    </span>
    -
    <a href="https://ng-be.org/2018" class="title" target="_blank">
      NG-BE 2018
    </a>
    -
    <span class="where">
     Holiday Inn - Ghent, Belgium ( <strong>Organiser</strong> )
    </span>
  </li>
  <li>
    <span class="date">
      [4/10]
    </span>
    -
    <a href="https://www.meetup.com/Angular-Belgium/events/254730800/"
       class="title" target="_blank" rel="noopener">
      Oauth 2.0, Nest and Enterprise Architectures
    </a>
    -
    <span class="where">
      Ordina - Mechelen, Belgium ( <strong>Angular Belgium host</strong> )
    </span>
  </li>
  <li>
    <span class="date">
      [31/05]
    </span>
    -
    <a href="https://www.meetup.com/Angular-Belgium/events/249697455/"
       class="title" target="_blank" rel="noopener">
      NGXS & Architectures for huge Angular Apps
    </a>
    -
    <span class="where">
      Microsoft - Brussels, Belgium ( <strong>Angular Belgium & JSBE host</strong> )
    </span>
  </li>
  <li>
    <span class="date">
      [17/05]
    </span>
    -
    <a href="https://editx.eu/it-challenge/angular-challenge-ng-be-google"
       class="title" target="_blank" rel="noopener">
      Angular Challenge - Finals
    </a>
    -
    <span class="where">
        Google - Brussels, Belgium ( <strong>Organiser</strong> )
    </span>
  </li>
  <li>
    <span class="date">
      [15/03]
    </span>
    -
    <a href="https://www.meetup.com/jsbe-io/events/247378674/"
       class="title" target="_blank" rel="noopener">
      Lighthouse (CI) & What's next for JavaScript
    </a>
    -
    <span class="where">
      KommaBoard - Mechelen, Belgium ( <strong>JSBE host</strong> )
    </span>
  </li>
  <li>
    <span class="date">
      [15/02]
    </span>
    -
    <a href="https://www.meetup.com/jsbe-io/events/246879506/"
       class="title" target="_blank" rel="noopener">
      Make testing great again and WebComponents with StencilJS
    </a>
    -
    <span class="where">
      Showpad - Ghent, Belgium ( <strong>JSBE host</strong> )
    </span>
  </li>
</ul>


<h3>2017</h3>

<ul class="talks__list">
  <li>
    <span class="date">
      [07-08/12]
    </span>
    -
    <a href="https://ng-be.org/2017" class="title" target="_blank">
      NG-BE 2017
    </a>
    -
    <span class="where">
     Holiday Inn - Ghent, Belgium ( <strong>Organiser</strong> )
    </span>
  </li>
  <li>
    <span class="date">
      [05/12]
    </span>
    -
    <a href="https://www.meetup.com/jsbe-io/events/245107224/"
       class="title" target="_blank" rel="noopener">
      Web audio and RxJS & VueJS
    </a>
    -
    <span class="where">
      TVH - Waregem, Belgium ( <strong>JSBE host</strong> )
    </span>
  </li>
  <li>
    <span class="date">
      [13/06]
    </span>
    -
    <a href="https://www.meetup.com/jsbe-io/events/240025854/"
       class="title" target="_blank" rel="noopener">
      React Native & Creating and maintaining OpenSource libraries
    </a>
    -
    <span class="where">
      Spilberg - Antwerpen, Belgium ( <strong>JSBE host</strong> )
    </span>
  </li>
  <li>
    <span class="date">
      [30/05]
    </span>
    -
    <a href="https://www.meetup.com/jsbe-io/events/239901685/"
       class="title" target="_blank" rel="noopener">
      Angular in a microservice world and Module loading vs Module bundling
    </a>
    -
    <span class="where">
      Teamleader - Ghent, Belgium ( <strong>JSBE host</strong> )
    </span>
  </li>
  <li>
    <span class="date">
      [17/05]
    </span>
    -
    <a href="https://www.meetup.com/en-AU/Angular-Belgium/events/239475929/"
       class="title" target="_blank" rel="noopener">
      May Meetup: Angular CLI & i18n
    </a>
    -
    <span class="where">
      AE - Leuven, Belgium ( <strong>JSBE host</strong> )
    </span>
  </li>
  <li>
    <span class="date">
      [13/03]
    </span>
    -
    <a href="https://www.meetup.com/jsbe-io/events/238029184/"
       class="title" target="_blank" rel="noopener">
      Firebase & Ionic 2
    </a>
    -
    <span class="where">
      Hackages - Brussels, Belgium ( <strong>JSBE host</strong> )
    </span>
  </li>
  <li>
    <span class="date">
      [23/02]
    </span>
    -
    <a href="https://www.meetup.com/jsbe-io/events/234124697/"
       class="title" target="_blank" rel="noopener">
      Building secure web applications
    </a>
    -
    <span class="where">
      Ordina - Mechelen, Belgium ( <strong>JSBE host</strong> )
    </span>
  </li>

  <li>
    <span class="date">
      [12/02]
    </span>
    -
    <a href="https://ngvikings.org/schedule/day2?sessionId=84"
       class="title" target="_blank" rel="noopener">
      Getting started with Ionic 2 & Firebase
    </a>
    -
    <span class="where">
      ngVikings - Copenhagen, Belgium ( <strong>workshop trainer</strong> )
    </span>
  </li>
</ul>

<h3>2016</h3>

<ul class="talks__list">
  <li>
    <span class="date">
      [08-09/12]
    </span>
    -
    <a href="https://ng-be.org/2016"
       class="title" target="_blank" rel="noopener">
      NG-BE 2016
    </a>
    -
    <span class="where">
      Holiday Inn - Ghent, Belgium ( <strong>Organiser</strong> )
    </span>
  </li>
  <li>
    <span class="date">
      [01/12]
    </span>
    -
    <a href="https://www.meetup.com/Angular-Belgium/events/235752358/"
       class="title" target="_blank" rel="noopener">
      December Meetup: RXJS/Redux & E2E Testing with Protractor
    </a>
    -
    <span class="where">
      Voxbone - Brussels, Belgium ( <strong>JSBE host</strong> )
    </span>
  </li>
  <li>
    <span class="date">
      [23/11]
    </span>
    -
    <a href="https://www.meetup.com/jsbe-io/events/232274308/"
       class="title" target="_blank" rel="noopener">
      Optimizing Single Page Applications for production
    </a>
    -
    <span class="where">
      Madewithlove - Leuven, Belgium ( <strong>JSBE host & speaker</strong> )
    </span>
  </li>
  <li>
    <span class="date">
      [28/10]
    </span>
    -
    <a href="http://hackages.io"
       class="title" target="_blank" rel="noopener">
      Testing Angular applications with Protractor and CucumberJS
    </a>
    -
    <span class="where">
      Hackages - Brussels, Belgium ( <strong>workshop trainer</strong> )
    </span>
  </li>
  <li>
    <span class="date">
      [22/10]
    </span>
    -
    <a href="https://devfest.be/schedule/day1?sessionId=212"
       class="title" target="_blank" rel="noopener">
      Testing web applications with Protractor & CucumberJS (
    </a>
    -
    <span class="where">
      GDG Devfest Belgium, Brussels ( <strong>speaker</strong> )
    </span>
  </li>
  <li>
    <span class="date">
      [19/10]
    </span>
    -
    <a href="http://www.meetup.com/Ionic-Belgium-Meetup/events/231960971/"
       class="title" target="_blank" rel="noopener">
      Implementation of the NG-BE 2016 app in Ionic 2
    </a>
    -
    <span class="where">
      Adneom - Brussels, Belgium ( <strong>JSBE host & speaker</strong> )
    </span>
  </li>
  <li>
    <span class="date">
      [07/09]
    </span>
    -
    <a href="https://www.meetup.com/jsbe-io/events/232273738/"
       class="title" target="_blank" rel="noopener">
      Redux integration in React and Angular v2
    </a>
    -
    <span class="where">
      Teamleader - Ghent, Belgium ( <strong>JSBE host</strong> )
    </span>
  </li>
  <li>
    <span class="date">
      [18/04]
    </span>
    -
    <a href="https://www.eventbrite.com/e/an-evening-learning-angular-20-at-realdolmen-tickets-23194640795#"
       class="title" target="_blank" rel="noopener">
      ES2015 and beyond
    </a>
    -
    <span class="where">
      Microsoft - Brussels, Belgium ( <strong>JSBE host</strong> )
    </span>
  </li>
  <li>
    <span class="date">
      [18/04]
    </span>
    -
    <a href="https://www.eventbrite.com/e/an-evening-learning-angular-20-at-realdolmen-tickets-23194640795#"
       class="title" target="_blank" rel="noopener">
      Testing Angular applications with Protractor and CucumberJS
    </a>
    -
    <span class="where">
      RealDolmen - Halle, Belgium ( <strong>speaker</strong> )
    </span>
  </li>
  <li>
    <span class="date">
      [11/03]
    </span>
    -
    <a href="https://hackages.io#"
       class="title" target="_blank" rel="noopener">
      Testing AngularJS 1.x applications with Protractor and CucumberJS
    </a>
    -
    <span class="where">
      Crelan - Brussels, Belgium ( <strong>workshop trainer</strong> )
    </span>
  </li>

</ul>
