<h1>
    <span>
        3. I like to <em>talk and organise</em>, giving others a stage!
    </span>
</h1>

<p class="intro">
  The things I talk about can be of all kinds. Mostly I share the things I do for the
  <a routerLink="/projects" routerLinkActive="active" title="Projects I'm involved in">projects I'm involved in</a>,
  but it can also just be a good incentive to <em>learn in-depth about a specific technology</em>. Or trying
  to solve a problem I faced during my day-to-day coding battles, setting up architectures, etc.
</p>

<div class="sidepic right">
  <a
    href="https://photos.google.com/share/AF1QipOpnydz8dY6QJdHvklZjL6oKZ7fsOP997hS31_MHk3oxhoc5DQLmovXp__mn4Ksfg?key=VDhDYl9kVXI0LUgzZUdyYVhfM2lPM2JkRlFNZUxn"
    target="_blank"
    class="ignoreexternal"
    rel="noopener">
    <img src="assets/images/talks/ngbe2018.jpg" alt="NG-BE 2018 opening ceremony"/>
  </a>
  <p>Opening ceremony by Sam, Wassim & Jurgen, NG-BE 2018</p>
</div>

<p>
  Besides that <em>I love to train people in using the technologies I love to explore</em> as an early
  adaptor. As a regular co-organiser of the
  <a rel="noopener" target="_blank" href="https://www.meetup.com/angular-belgium/">Angular Belgium</a> meetup
  group and <a rel="noopener" target="_blank" href="https://ng-be.org">NG-BE conference</a> I try to invite & welcome as
  many passionate developers as we can.
</p>

<p>
  <a routerLink="/" title="Get in touch to have me talk at your event!">Contact me</a> if you'd like me to talk at
  your event, I would be very happy to! And <em>if you are a speaker, experienced or only beginning, we have a
  stage for you!</em> We invite everybody to come and speak about any web-related topic they are willing to share
  something about!
</p>

<h2 id="upcoming-events">Upcoming events</h2>

<!--
<ul class="talks__list">
</ul>
-->

<p>
  Nothing planned
</p>

<h2 id="speaker-info">My speaker info</h2>

<p>
  Please refer to the following details if you are looking for my picture and (short) bio.
</p>

<table class="talks__speaker-info">
  <tr>
    <th>Link to picture:</th>
    <td>
      <p>
        <a href="https://samvloeberghs.be/assets/images/samvloeberghs.jpg" target="_blank">
          https://samvloeberghs.be/assets/images/samvloeberghs.jpg
        </a>
      </p>
    </td>
  </tr>
  <tr>
    <th>Short speaker bio:</th>
    <td>
      <p>
        Sam is a freelance software engineer and Internet entrepreneur, currently focusing on frontend technologies.
        Co-organiser of NG-BE and Angular Belgium meetup. <a
        href="https://samvloeberghs.be">https://samvloeberghs.be</a>
      </p>
    </td>
  </tr>
  <tr>
    <th>Full speaker bio:</th>
    <td>
      <p>
        Sam is a freelance software engineer and Internet entrepreneur, currently focusing on frontend technologies
        and frameworks like Angular and Workbox while keeping a sharp eye on the basics and advanced aspects of HTML5.
      </p>
      <p>
        He is the co-organiser of the Belgian Angular Conference, NG-BE and the Angular Belgium meetup. Sam writes about
        the technologies he uses on a daily basis at <a href="https://samvloeberghs.be">https://samvloeberghs.be</a>.
      </p>
      <p>
        While he is not working he likes to spend time with his family and working out in the gym or going for a long
        walk!
      </p>
    </td>
  </tr>
</table>

<h2 id="past-events">Past events</h2>

<h3>2020</h3>

<ul class="talks__list">
  <li>
    <span>
      [27/10]
    </span>
    -
    <a href="https://codecamp.ro/frontend-conference" class="talk__title" target="_blank"
       rel="noopener">
      Creating powerful offline experiences with Workbox
    </a>
    -
    <span>
      Online ( <strong>Codecamp Romania - Speaker</strong> )
    </span>
    -
    <a
       href="https://docs.google.com/presentation/d/e/2PACX-1vRyrmGiIoQEkzWxvRP40cnhKSSkk_zxvou2CzsEqc3Z3eJrZe-iIwZRLo8urdmmEDqrvnyZEV_CEynh/pub?start=false&loop=false&delayms=3000"
       target="_blank" rel="noopener">
      slides
    </a>
  </li>
  <li>
    <span>
      [21/10]
    </span>
    -
    <a href="https://www.odisee.be/" class="talk__title" target="_blank"
       rel="noopener">
      (NL) Praktijkgetuigenis
    </a>
    -
    <span>
      Online ( <strong>ODISEE College - Speaker</strong> )
    </span>
  </li>
  <li>
    <span>
      [20/10]
    </span>
    -
    <a href="https://www.meetup.com/Angular-Belgium/events/273921008/" class="talk__title" target="_blank"
       rel="noopener">
      NG-BE Live - Episode #2 - with Michael Hladky & Jan-Niklas Wortmann
    </a>
    -
    <span>
      Online ( <strong>NG-BE Live - Host</strong> )
    </span>
  </li>
  <li>
    <span>
      [20/10]
    </span>
    -
    <a href="https://ngrome.io/agenda" class="talk__title" target="_blank"
       rel="noopener">
      Angular & Technical SEO
    </a>
    -
    <span>
      Online ( <strong>NG ROME - Speaker</strong> )
    </span>
    -
    <a
       href="https://docs.google.com/presentation/d/e/2PACX-1vReQ7z7YG38Xri1TWQrDNB6roia9G0bRcUPSXOPWEXwItPM9i0ZCUVbvr5ovuuyhgK6IEaouCJhFqC1/pub?start=false&loop=false&delayms=3000"
       target="_blank" rel="noopener">
      slides
    </a>
  </li>
  <li>
    <span>
      [17/10]
    </span>
    -
    <a href="https://devfest.gdgph.org/" class="talk__title" target="_blank"
       rel="noopener">
      Angular & Technical SEO
    </a>
    -
    <span>
      Online ( <strong>GDG DevFest Philippines 2020 - Speaker</strong> )
    </span>
    -
    <a
       href="https://docs.google.com/presentation/d/e/2PACX-1vTY4gUoD5ZdjDZ_kgMuzQmXj2J4wFeJDjIaxu22nUbidEnMQN8EZh-kh3UAYgQ7Q8VQbC7ui9vO6x-D/pub?start=false&loop=false&delayms=3000"
       target="_blank" rel="noopener">
      slides
    </a>
  </li>
  <li>
    <span>
      [09/10]
    </span>
    -
    <a href="https://www.youtube.com/channel/UChvYTafHRgXKb0VbYGeG0nw" class="talk__title" target="_blank"
       rel="noopener">
      The evolution of frontend web development
    </a>
    -
    <span>
      Online ( <strong>Tech Talks with Santosh  - Host</strong> )
    </span>
    -
    <a
       href="https://docs.google.com/presentation/d/e/2PACX-1vRCzyMvlgeLIixiaNbgL-yMxhsjeLTOwrcPRG_wW8Rz-gDg2qLt-6DeuC41Ej1Sbut7Xv03HkxG5xMI/pub?start=false&loop=false&delayms=3000"
       target="_blank" rel="noopener">
      slides
    </a>
  </li>
  <li>
    <span>
      [16/09]
    </span>
    -
    <a href="https://editx.eu/nl/node/5218616" class="talk__title" target="_blank"
       rel="noopener">
      Angular Challenge 2020 - Finals
    </a>
    -
    <span>
      Online ( <strong>Host</strong> )
    </span>
  </li>
  <li>
    <span>
      [15/09]
    </span>
    -
    <a href="https://www.meetup.com/AngularJS-Bucharest/events/273026723/" class="talk__title" target="_blank"
       rel="noopener">
      Angular & Technical SEO
    </a>
    -
    <span>
      Online ( <strong>ngBucharest Meetup  - Host</strong> )
    </span>
    -
    <a
       href="hhttps://docs.google.com/presentation/d/e/2PACX-1vRLQ2F-s3pQ4oPZvxS7SfE9jgluTbr7cnA4hHQk_t7bFW8DbwWjlPun7nXM0xn4-vrbC5thBzaQN6xS/pub?start=false&loop=false&delayms=60000&slide=id.g26d86d3325_0_0"
       target="_blank" rel="noopener">
      slides
    </a>
  </li>
  <li>
    <span>
      [13/08]
    </span>
    -
    <a href="https://www.meetup.com/en-AU/Angular-Belgium/events/272510535" class="talk__title" target="_blank"
       rel="noopener">
      NG-BE Live - Episode #1 - With Doug Parker and Natalia Venditto
    </a>
    -
    <span>
      Online ( <strong>NG-BE Live - Host</strong> )
    </span>
  </li>
  <li>
    <span>
      [06/08]
    </span>
    -
    <a href="https://www.angularmeetup.com/#/global-angular-meetup-august-2020" class="talk__title" target="_blank"
       rel="noopener">
      Angular & Technical SEO
    </a>
    -
    <span>
      Online ( <strong>Global Angular Meetup - Speaker</strong> )
    </span>
    -
    <a
       href="https://docs.google.com/presentation/d/e/2PACX-1vTk6ClMZbFIIcVPi54YHEeqFSex_FwHZ8KyxrcSId0L6zcPsc8XO1osTJRk6b2tDfkDteAbHM9W4kn0/pub?start=false&loop=false&delayms=10000"
       target="_blank" rel="noopener">
      slides
    </a>
  </li>
  <li>
    <span>
      [29/07]
    </span>
    -
    <a href="https://www.meetup.com/en-AU/angular-heidelberg/events/271895112/" class="talk__title" target="_blank"
       rel="noopener">
      Angular & Technical SEO
    </a>
    -
    <span>
      Online ( <strong>ngHeidelberg - Speaker</strong> )
    </span>
    -
    <a
       href="https://docs.google.com/presentation/d/e/2PACX-1vTiW6ENAHbWgjqBgAoPLdpj0qJwcQVsQ0jcUJ4Fu4Qgzs-EQFGvK47VFHwsSyMOljFte55B5bcdzGws/pub?start=false&loop=false&delayms=5000"
       target="_blank" rel="noopener">
      slides
    </a>
  </li>
  <li>
    <span>
      [25/06]
    </span>
    -
    <a href="https://www.meetup.com/en-AU/Dutch-Angular-group/" class="talk__title" target="_blank" rel="noopener">
      Custom plugins for Scully - The Static Site Generator for Angular
    </a>
    -
    <span>
        Online ( <strong>Dutch Angular Group - Speaker</strong> )
    </span>
    -
    <a
       href="https://docs.google.com/presentation/d/1XTnnE04g9bea85R-Rh9ZaHn4CF6UHo8J8teHJj3Vpco/edit?usp=sharing"
       target="_blank" rel="noopener">
      slides
    </a>
  </li>
  <li>
    <span>
      [17/06]
    </span>
    -
    <a href="https://www.meetup.com/en-AU/Angular-Ruhr/events/270523961/" class="talk__title" target="_blank"
       rel="noopener">
      3 things you didn't know about Scully
    </a>
    -
    <span>
        Online ( <strong>AngularRuhr - Speaker</strong> )
    </span>
    -
    <a
       href="https://docs.google.com/presentation/d/1PtdPt_R6t6v_K9FhKQ637inCKNnPFgq63NvTKIBHePE/edit?usp=sharing"
       target="_blank" rel="noopener">
      slides
    </a>
  </li>
  <li>
    <span>
      [09/06]
    </span>
    -
    <a href="https://www.meetup.com/Angular-Meetup-Leipzig/events/270830045/" class="talk__title" target="_blank"
       rel="noopener">
      Everything you should know about Scully
    </a>
    -
    <span>
        Online ( <strong>ngLeipzig #29 - Speaker</strong> )
    </span>
    -
    <a
       href="https://docs.google.com/presentation/d/e/2PACX-1vTaTapmFLieYHO-ElTE6Rf8iax8i93gWDWC_deBRYjA_kop7e7oMZayyWR06TW1DdNfenmy2luf3H89/pub?start=false&loop=false&delayms=3000"
       target="_blank" rel="noopener">
      slides
    </a>
  </li>
  <li>
    <span>
      [05/03]
    </span>
    -
    <a href="https://www.meetup.com/Fronteers-BE/events/267803949/"
       class="talk__title" target="_blank" rel="noopener">
      Creating powerful offline experiences with Workbox
    </a>
    -
    <span>
       Leuven, Belgium ( <strong>Fronteers meetup at Cronos Leuven - Speaker</strong> )
    </span>
    -
    <a
       href="https://docs.google.com/presentation/d/e/2PACX-1vQ0nl-4qYQKemuFO8zHoMDa2gboXpDbOoy1PjoaUbJeoSdx8b9z-uGvsEo0fnzDVrsaBaEH4C4hQ0cW/pub?start=false&loop=true&delayms=60000"
       target="_blank" rel="noopener">
      slides
    </a>
  </li>
  <li>
    <span>
      [29/01]
    </span>
    -
    <a href="https://www.meetup.com/en-AU/BeJS-JS-community-in-Brussels/events/267808671/"
       class="talk__title" target="_blank" rel="noopener">
      Creating powerful offline experiences with Workbox
    </a>
    -
    <span>
        Brussels ( <strong>BeJS #2 meetup - Speaker</strong> )
    </span>
    -
    <a
       href="https://docs.google.com/presentation/d/e/2PACX-1vTB_oqOPkEBH839xEUVhO9EG3Y5eRHtaEcvL1-az8eqgx4t0Q-le2eVF-B6wWWY1AH0FLe-oR8cbC7O/pub?start=false&loop=false&delayms=60000"
       target="_blank" rel="noopener">
      slides
    </a>
  </li>
</ul>

<h3>2019</h3>

<ul class="talks__list">
  <li>
    <span>
      [05-06/12]
    </span>
    -
    <a href="https://ng-be.org/"
       class="talk__title" target="_blank" rel="noopener">
      NG-BE 2019
    </a>
    -
    <span>
     Holiday Inn - Ghent, Belgium ( <strong>Organiser</strong> )
    </span>
  </li>
  <li>
    <span>
      [18/10]
    </span>
    -
    <a href="https://ngspain.com/schedule/2019-10-19?sessionId=117"
       class="talk__title" target="_blank" rel="noopener">
      Better SEO & sharing on social media platforms with Angular Universal
    </a>
    -
    <span>
        Google Campus - Madrid, Spain ( <strong>ngSpain Conference - Speaker</strong> )
    </span>
    -
    <a
       href="https://docs.google.com/presentation/d/1XJFJyw9ZTzzv_e2npdCYlbGb020DVXc05PxSW8oXYr8/edit" target="_blank"
       rel="noopener">
      slides
    </a>
  </li>
  <li>
    <span>
      [04/10]
    </span>
    -
    <a href="https://ordina-jworks.github.io/join/#sam-vloeberghs"
       class="talk__title" target="_blank" rel="noopener">
      Better SEO & sharing on social media platforms with Angular Universal
    </a>
    -
    <span>
        Elewijt Center, Belgium ( <strong>Ordina JWorks - JOIN event - Speaker</strong> )
    </span>
    -
    <a
       href="https://docs.google.com/presentation/d/11C_VmhHKA13pfTzjfC22hXV-7WT2ZRfsQtnDHlTW694/edit?usp=sharing"
       target="_blank" rel="noopener">
      slides
    </a>
  </li>
  <li>
    <span>
      [02/10]
    </span>
    -
    <a href="https://www.meetup.com/JSLuxembourg/events/261315634/"
       class="talk__title" target="_blank" rel="noopener">
      Implementing powerful offline experiences with Workbox
    </a>
    -
    <span>
        Luxembourg City, Luxembourg ( <strong>JavaScript Meetup Luxembourg - Speaker</strong> )
    </span>
    -
    <a
       href="https://docs.google.com/presentation/d/16_yZG-Z4wuVkluaAuSvo0d4qaJcBcy6BEuSH71JRivY/edit?usp=sharing"
       target="_blank" rel="noopener">
      slides
    </a>
  </li>
  <li class="striketrough">
    <span>
      [19/09]
    </span>
    -
    <a href="https://gears.gent/"
       class="talk__title" target="_blank" rel="noopener">
      Implementing powerful offline experiences with Workbox (event canceled)
    </a>
    -
    <span>
        ArtCube - Ghent, Belgium ( <strong>Gears by Showpad - Speaker</strong> )
    </span>
  </li>
  <li>
    <span>
      [18/09]
    </span>
    -
    <a href="https://www.meetup.com/jsbe-io/events/264182223/"
       class="talk__title" target="_blank" rel="noopener">
      Implementing powerful offline experiences with Workbox
    </a>
    -
    <span>
        House of Innovation - Antwerp, Belgium ( <strong>JSBE meetup - Speaker</strong> )
    </span>
    -
    <a
       href="https://docs.google.com/presentation/d/1Q4Yf2tb7Rf4oYD5NwXgzV1pD62MHFZ2CUfAn2BFqEmg/edit?usp=sharing"
       target="_blank" rel="noopener">
      slides
    </a>
  </li>
  <li>
    <span>
      [25/07]
    </span>
    -
    <a href="https://www.meetup.com/Angular-Portugal/events/262583435/"
       class="talk__title" target="_blank" rel="noopener">
      Better SEO & sharing on social media platforms with Angular Universal
    </a>
    -
    <span>
        KWAN - Lisbon, Portugal ( <strong>Angular Portugal Meetup - Speaker</strong> )
    </span>
    -
    <a
       href="https://docs.google.com/presentation/d/17oImRmLS0mhOWT0XvLUSuGzADIXsb91gRP-Yp6f4Sw8/edit?usp=sharing"
       target="_blank" rel="noopener">
      slides
    </a>
  </li>
  <li>
    <span>
      [15/05]
    </span>
    -
    <a href="https://editx.eu/it-challenge/angular-challenge-europe-2019"
       class="talk__title" target="_blank" rel="noopener">
      Angular Challenge Europe - Finals
    </a>
    -
    <span>
        Showpad - Ghent, Belgium ( <strong>Speaker & organiser </strong> )
    </span>
  </li>
  <li>
    <span>
      [25/04]
    </span>
    -
    <a href="https://www.meetup.com/Angular-Belgium/events/259904753/"
       class="talk__title" target="_blank" rel="noopener">
      Going offline with Workbox & Custom decorators in TypeScript
    </a>
    -
    <span>
        PeopleWear - Lier, Belgium ( <strong>Angular Belgium - Speaker & organiser</strong> )
    </span>
    -
    <a
       href="https://docs.google.com/presentation/d/12-9fqNMKzXquZkrdyZ6uFc8AYsls1VqmqMLZpJvKyfc/edit?usp=sharing"
       target="_blank" rel="noopener">
      slides
    </a>
  </li>
  <li>
    <span>
      [21/02]
    </span>
    -
    <a href="https://www.meetup.com/jsbe-io/events/258273772/"
       class="talk__title" target="_blank" rel="noopener">
      Angular Universal & SEO and Consumer Driven contract testing with Pact
    </a>
    -
    <span>
      Axxes - Antwerp, Belgium ( <strong>Speaker</strong> )
    </span>
    -
    <a
       href="https://docs.google.com/presentation/d/1jDzp1Lw4zJMhgPAk7UZweDIf2ALmpI2EqIIXyi_UoJE/edit?usp=sharing"
       target="_blank" rel="noopener">
      slides
    </a>
  </li>
</ul>

<h3>2018</h3>

<ul class="talks__list">
  <li>
    <span>
      [20/12]
    </span>
    -
    <a href="https://www.meetup.com/Angular-Belgium/events/256381588/"
       class="talk__title" target="_blank" rel="noopener">
      End of year meetup: Angular & Firebase
    </a>
    -
    <span>
      Cegeka - Ghent, Belgium ( <strong>Angular Belgium host</strong> )
    </span>
  </li>
  <li>
    <span>
      [06-07/12]
    </span>
    -
    <a href="https://ng-be.org/2018" class="talk__title" target="_blank">
      NG-BE 2018
    </a>
    -
    <span>
     Holiday Inn - Ghent, Belgium ( <strong>Organiser</strong> )
    </span>
  </li>
  <li>
    <span>
      [4/10]
    </span>
    -
    <a href="https://www.meetup.com/Angular-Belgium/events/254730800/"
       class="talk__title" target="_blank" rel="noopener">
      Oauth 2.0, Nest and Enterprise Architectures
    </a>
    -
    <span>
      Ordina - Mechelen, Belgium ( <strong>Angular Belgium host</strong> )
    </span>
  </li>
  <li>
    <span>
      [31/05]
    </span>
    -
    <a href="https://www.meetup.com/Angular-Belgium/events/249697455/"
       class="talk__title" target="_blank" rel="noopener">
      NGXS & Architectures for huge Angular Apps
    </a>
    -
    <span>
      Microsoft - Brussels, Belgium ( <strong>Angular Belgium & JSBE host</strong> )
    </span>
  </li>
  <li>
    <span>
      [17/05]
    </span>
    -
    <a href="https://editx.eu/it-challenge/angular-challenge-ng-be-google"
       class="talk__title" target="_blank" rel="noopener">
      Angular Challenge - Finals
    </a>
    -
    <span>
        Google - Brussels, Belgium ( <strong>Organiser</strong> )
    </span>
  </li>
  <li>
    <span>
      [15/03]
    </span>
    -
    <a href="https://www.meetup.com/jsbe-io/events/247378674/"
       class="talk__title" target="_blank" rel="noopener">
      Lighthouse (CI) & What's next for JavaScript
    </a>
    -
    <span>
      KommaBoard - Mechelen, Belgium ( <strong>JSBE host</strong> )
    </span>
  </li>
  <li>
    <span>
      [15/02]
    </span>
    -
    <a href="https://www.meetup.com/jsbe-io/events/246879506/"
       class="talk__title" target="_blank" rel="noopener">
      Make testing great again and WebComponents with StencilJS
    </a>
    -
    <span>
      Showpad - Ghent, Belgium ( <strong>JSBE host</strong> )
    </span>
  </li>
</ul>

<h3>2017</h3>

<ul class="talks__list">
  <li>
    <span>
      [07-08/12]
    </span>
    -
    <a href="https://ng-be.org/2017" class="talk__title" target="_blank">
      NG-BE 2017
    </a>
    -
    <span>
     Holiday Inn - Ghent, Belgium ( <strong>Organiser</strong> )
    </span>
  </li>
  <li>
    <span>
      [05/12]
    </span>
    -
    <a href="https://www.meetup.com/jsbe-io/events/245107224/"
       class="talk__title" target="_blank" rel="noopener">
      Web audio and RxJS & VueJS
    </a>
    -
    <span>
      TVH - Waregem, Belgium ( <strong>JSBE host</strong> )
    </span>
  </li>
  <li>
    <span>
      [13/06]
    </span>
    -
    <a href="https://www.meetup.com/jsbe-io/events/240025854/"
       class="talk__title" target="_blank" rel="noopener">
      React Native & Creating and maintaining OpenSource libraries
    </a>
    -
    <span>
      Spilberg - Antwerpen, Belgium ( <strong>JSBE host</strong> )
    </span>
  </li>
  <li>
    <span>
      [30/05]
    </span>
    -
    <a href="https://www.meetup.com/jsbe-io/events/239901685/"
       class="talk__title" target="_blank" rel="noopener">
      Angular in a microservice world and Module loading vs Module bundling
    </a>
    -
    <span>
      Teamleader - Ghent, Belgium ( <strong>JSBE host</strong> )
    </span>
  </li>
  <li>
    <span>
      [17/05]
    </span>
    -
    <a href="https://www.meetup.com/en-AU/Angular-Belgium/events/239475929/"
       class="talk__title" target="_blank" rel="noopener">
      May Meetup: Angular CLI & i18n
    </a>
    -
    <span>
      AE - Leuven, Belgium ( <strong>JSBE host</strong> )
    </span>
  </li>
  <li>
    <span>
      [13/03]
    </span>
    -
    <a href="https://www.meetup.com/jsbe-io/events/238029184/"
       class="talk__title" target="_blank" rel="noopener">
      Firebase & Ionic 2
    </a>
    -
    <span>
      Hackages - Brussels, Belgium ( <strong>JSBE host</strong> )
    </span>
  </li>
  <li>
    <span>
      [23/02]
    </span>
    -
    <a href="https://www.meetup.com/jsbe-io/events/234124697/"
       class="talk__title" target="_blank" rel="noopener">
      Building secure web applications
    </a>
    -
    <span>
      Ordina - Mechelen, Belgium ( <strong>JSBE host</strong> )
    </span>
  </li>

  <li>
    <span>
      [12/02]
    </span>
    -
    <a href="https://ngvikings.org/schedule/day2?sessionId=84"
       class="talk__title" target="_blank" rel="noopener">
      Getting started with Ionic 2 & Firebase
    </a>
    -
    <span>
      ngVikings - Copenhagen, Belgium ( <strong>workshop trainer</strong> )
    </span>
  </li>
</ul>

<h3>2016</h3>

<ul class="talks__list">
  <li>
    <span>
      [08-09/12]
    </span>
    -
    <a href="https://ng-be.org/2016"
       class="talk__title" target="_blank" rel="noopener">
      NG-BE 2016
    </a>
    -
    <span>
      Holiday Inn - Ghent, Belgium ( <strong>Organiser</strong> )
    </span>
  </li>
  <li>
    <span>
      [01/12]
    </span>
    -
    <a href="https://www.meetup.com/Angular-Belgium/events/235752358/"
       class="talk__title" target="_blank" rel="noopener">
      December Meetup: RXJS/Redux & E2E Testing with Protractor
    </a>
    -
    <span>
      Voxbone - Brussels, Belgium ( <strong>JSBE host</strong> )
    </span>
  </li>
  <li>
    <span>
      [23/11]
    </span>
    -
    <a href="https://www.meetup.com/jsbe-io/events/232274308/"
       class="talk__title" target="_blank" rel="noopener">
      Optimizing Single Page Applications for production
    </a>
    -
    <span>
      Madewithlove - Leuven, Belgium ( <strong>JSBE host & speaker</strong> )
    </span>
  </li>
  <li>
    <span>
      [28/10]
    </span>
    -
    <a href="http://hackages.io"
       class="talk__title" target="_blank" rel="noopener">
      Testing Angular applications with Protractor and CucumberJS
    </a>
    -
    <span>
      Hackages - Brussels, Belgium ( <strong>workshop trainer</strong> )
    </span>
  </li>
  <li>
    <span>
      [22/10]
    </span>
    -
    <a href="https://devfest.be/schedule/day1?sessionId=212"
       class="talk__title" target="_blank" rel="noopener">
      Testing web applications with Protractor & CucumberJS (
    </a>
    -
    <span>
      GDG Devfest Belgium, Brussels ( <strong>speaker</strong> )
    </span>
  </li>
  <li>
    <span>
      [19/10]
    </span>
    -
    <a href="http://www.meetup.com/Ionic-Belgium-Meetup/events/231960971/"
       class="talk__title" target="_blank" rel="noopener">
      Implementation of the NG-BE 2016 app in Ionic 2
    </a>
    -
    <span>
      Adneom - Brussels, Belgium ( <strong>JSBE host & speaker</strong> )
    </span>
  </li>
  <li>
    <span>
      [07/09]
    </span>
    -
    <a href="https://www.meetup.com/jsbe-io/events/232273738/"
       class="talk__title" target="_blank" rel="noopener">
      Redux integration in React and Angular v2
    </a>
    -
    <span>
      Teamleader - Ghent, Belgium ( <strong>JSBE host</strong> )
    </span>
  </li>
  <li>
    <span>
      [18/04]
    </span>
    -
    <a href="https://www.eventbrite.com/e/an-evening-learning-angular-20-at-realdolmen-tickets-23194640795#"
       class="talk__title" target="_blank" rel="noopener">
      ES2015 and beyond
    </a>
    -
    <span>
      Microsoft - Brussels, Belgium ( <strong>JSBE host</strong> )
    </span>
  </li>
  <li>
    <span>
      [18/04]
    </span>
    -
    <a href="https://www.eventbrite.com/e/an-evening-learning-angular-20-at-realdolmen-tickets-23194640795#"
       class="talk__title" target="_blank" rel="noopener">
      Testing Angular applications with Protractor and CucumberJS
    </a>
    -
    <span>
      RealDolmen - Halle, Belgium ( <strong>speaker</strong> )
    </span>
  </li>
  <li>
    <span>
      [11/03]
    </span>
    -
    <a href="https://hackages.io#"
       class="talk__title" target="_blank" rel="noopener">
      Testing AngularJS 1.x applications with Protractor and CucumberJS
    </a>
    -
    <span>
      Crelan - Brussels, Belgium ( <strong>workshop trainer</strong> )
    </span>
  </li>

</ul>
