:host {
  display:block;
  margin-bottom: 20px;

  h1 {
    margin-bottom: 10px !important;
  }

  h2 {
    margin-bottom: 15px;
    font-size: 22px;

    span {
      font-weight: bold;
      letter-spacing: 2px;
      padding: 5px 10px;
      background: #f6f6f6;
      border-radius: 5px;
    }

  }

  h3 {
    margin-bottom: 15px;
    font-size: 20px;

    span {
      font-weight: bold;
      letter-spacing: 2px;
      padding: 5px 10px;
      background: #f6f6f6;
      border-radius: 5px;
    }

  }

  p {
    font-size: 16px !important;
    line-height: 26px  !important;
  }

  ul {
    font-size: 16px;
    margin-left: 20px;
    line-height: 26px;
    margin-bottom: 15px;
  }

  pre {
    margin-bottom: 15px;
  }

  code {
    display: inline-block;
    padding: 2px 2px;
    background: #f6f6f6;
    font-size: 15px;
    line-height: 15px;
  }

  img.introimage {
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .posted {
    font-size: 12px !important;
    line-height: 14px !important;
    font-style: italic;
    margin-bottom: 15px  !important;
  }

}