<div *ngIf="post" id="post">

    <h1>
        <span [innerHtml]="post.title">
        </span>
    </h1>

    <p class="posted">
        Posted on
        <time [attr.datetime]="post.datetime">{{ post.datetime | date:'fullDate'}}</time>
    </p>

    <img [src]="post.imgFull" [alt]="post.title" class="introimage"/>

    <div [innerHtml]="post.content" highlight-js-content=".highlighted"></div>

    <disqus-thread [page-identifier]="'samvloeberghs'" [page-url]="'posts/' + post.slug"></disqus-thread>

</div>