<h1>
    <span>
      5. Who am I? <em>Just another developer</em>!
    </span>
</h1>

<p class="intro">
  I'm a 30 year old software engineer living in Belgium. At the time of writing I'm working as a <em>senior software
  engineer</em> at the Flemish government. I'm consulting a project where we are <em>building a PWA</em>
  that allows government officials to track down deficiencies in the public roads and infrastructure of the Flemish
  region.
</p>

<div class="sidepic right">
  <a
    href="https://photos.google.com/share/AF1QipOpnydz8dY6QJdHvklZjL6oKZ7fsOP997hS31_MHk3oxhoc5DQLmovXp__mn4Ksfg?key=VDhDYl9kVXI0LUgzZUdyYVhfM2lPM2JkRlFNZUxn"
    target="_blank"
    rel="noopener">
    <img src="assets/images/about/ngbe2018.jpg" alt="NG-BE 2018 group photo"/>
  </a>
  <p>NG-BE core team and speakers, NG-BE 2018.</p>
</div>

<h2>Education</h2>

<p>
  I'm educated as an Engineer in Computer Science at the
  <a href="https://www.ugent.be/en" target="_blank" rel="noopener">University of Ghent</a> but learned my true passion,
  <em>frontend web technologies</em>, totally in my spare time. I'm playing around with websites since the age of 16 and
  still love it!
</p>
<p>
  Besides that I tried to <em>understand the business side & the connection with IT </em>a
  little bit more by attending an <a
  href="http://www.antwerpmanagementschool.be/en/program/executive-master-enterprise-it-architecture/">Executive
  master in Enterprise IT Architecture</a> at <a href="http://www.antwerpmanagementschool.be/">Antwerp Management
  School</a>. I still need to finish this one :)
</p>

<h2>Personal</h2>

<p>
  As we are building our new home, me, my girlfriend Zoë and new-born *** are currently living with my family in-law
  in Zoersel, Antwerp. We have got some great company with the coolest dog ever, Beaux-arts (pronounced as "boshaar" in Dutch) &
  the pretty donkeys Kongo, Sissi & Bonapart.
</p>


<div class="sidepic left">
  <a
    href="https://www.instagram.com/p/BrZ5li6F80y/"
    target="_blank"
    rel="noopener">
    <img src="assets/images/about/donkeys.png" alt="Donkeys Kongo, Sissi & Bonapart"/>
  </a>
  <p>Kongo, Sissi & Bonapart, winter of 2018.</p>
</div>

<h2>Miscellaneous</h2>

<p>
  I'm busy with <a routerLink="/projects" title="Check out the cool project I'm involved in!">some very cool
  projects</a> on the side. When I find the time I try do some <a routerLink="/posts"
                                                                  title="Writing about the technologies I use!">writing
  about the technologies I use</a> and share those writings in <a routerLink="/projects"
                                                                  title="I love to do talks all over Europe!">talks</a>
  to the public at conferences & meetups all over Europe.
</p>

<h2>Contact</h2>

<p>
  Feel free to reach out, to discus exciting new projects, your start-up, technology challenges or just the perks of
  life :)
</p>
<p>
  Have a nice day and thanks for visiting my personal space on the evergroing Internet.
</p>
