<h1>
    <span>
        2. I try to <strong>write down</strong>, if it's worth reading it!
    </span>
</h1>

<article>

    <a href="" class="img">
        <img src="assets/rxjs.png" alt="RxJS Subjects"/>
    </a>

    <a class="excerpt" href="">

        <h2>What's with the Subjects in RxJS 5?</h2>

        <p class="posted">
            Posted on
            <time>3th of December 2016</time>
        </p>

        <p>
            RxJS is a great library, it is used more and more in different places & frameworks across
            the web. Soon it will dominate the asynchronous part of web apps, so that’s why it’s
            important to know how subjects work. <span>Keep reading to find out
                            how we can leverage Subjects in modern web applications!</span>
        </p>
    </a>

</article>
