:host {
  display: block;
  margin-bottom: 20px
}

h1 {
  margin-bottom: 35px !important;
  margin-left: 69px;
}

.posted {
  font: {
    size: 14px !important;
    style: italic;
  }
  line-height: 24px !important;
  margin-bottom: 25px !important;
}

img.introimage {
  float: left;
  display: block;
  margin-right: 15px;
  margin-bottom: 15px;
  max-height: 54px;
}
