:host {
  display: block;
  margin-bottom: 20px
}

h1 {
  margin-bottom: 15px !important;
}

.post {
  max-width: 920px;
}

.posted {
  font-size: 14px !important;
  line-height: 16px !important;
  margin-bottom: 15px !important;
}

img.introimage {
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
}
