<article *ngIf="post" class="post">

  <img [src]="post.img" [alt]="post.title" class="introimage"/>

  <h1>
        <span [innerHtml]="post.title">
        </span>
  </h1>


  <p class="posted">
    Posted on
    <time [attr.datetime]="post.publishDatetime">{{ post.publishDatetime | date:'fullDate'}}</time>
  </p>

  <div [innerHtml]="post.content" highlight-js-content=".highlighted"></div>

  <sv-hire-me></sv-hire-me>

  <sv-image-zoom
    *ngIf="currentZoomImage"
    (close)="closeImageZoom()"
    [zoomImage]="currentZoomImage">
  </sv-image-zoom>

  <!--
  <hr/>

  <h2>Leave some feedback please!</h2>

  <p>
      Do you have anything to add? Or have some other remarks? Please let me know in the comment section below!
      Looking forward to the discusion!
  </p>
  -->

</article>
