@import 'hl';

// can't use host here because of viewEncapsulation none
sv-post {
  display: block;
  margin-bottom: 20px;

  h1 {
    @media (max-width: 920px) {
      font-size: 1.4em !important;
    }
  }

  h2, h3 {
    code {
      background: #eee;
      padding: {
        right: 3px;
        left: 3px;
      }
    }
  }

  .posted {
    font: {
      size: 14px !important;
      style: italic;
    }
    line-height: 24px !important;
    margin-bottom: 10px !important;
  }

  img.introimage {
    float: left;
    display: block;
    margin-right: 15px;
    margin-bottom: 15px;
    max-height: 54px;
  }

}
