<h1>
    <span>
        1. Welcome on my <strong>personal website</strong>!
    </span>
</h1>

<p class="intro">
  Hi there! Thank you for visiting my website! Whatever you are looking for, I hope you will find it. If you want to
  reach out, you can contact me anywhere you'd like. You can find my social media channels next to the main navigation.
  If you want to say hi via email, write me at <a href="mailto:[fillinmy.name]@gmail.com">[fillinmy.name]@gmail.com</a>.
</p>

<!--
<p>
  <em>Dear recruiters</em>, please <a href="https://be.linkedin.com/in/samvloeberghs" target="_blank">find my profile
  on LinkedIn</a> and <strong>always try to contact me via email please.</strong>
  You can find my resumé at my LinkedIn or <a href="assets/cv_samvloeberghs_sept2018.pdf" target="_blank">you can
  download it here</a>.
</p>

<h2>Whoami</h2>
-->
