<h1>
    <span>
        1. Welcome on my <strong>personal website</strong>!
    </span>
</h1>

<p>
    Hi there! Thank you for visiting me website.. Whatever you are looking for, I hope you will find it :).
    If you want to reach out, you can contact me anywhere you'd like. If you want to say hi via email, write
    me at <a href="mailto:[fillinmy.name]@gmail.com">[fillinmy.name]@gmail.com</a>.
</p>

<p>
    <em>Dear recruiters</em>, please <a href="https://be.linkedin.com/in/samvloeberghs" target="_blank">find my profile on LinkedIn</a> and <strong>always try to contact me via email please.</strong>
    You can find my resumé at my LinkedIn or <a href="assets/cv_samvloeberghs_november2016.pdf" target="_blank">you can download it here</a>.
</p>

<h2>Whoami</h2>

<p>
    If you would ask me who I am or what I do, I would have troubles explaining myself.. That's why I asked some of the
    most precious & valuable people in my world to describe me in a way they preferred:
</p>