<h1>
    <span>
        1. Welcome on my <strong>personal website</strong>!
    </span>
</h1>

<p>
    Hi there! Thank you for visiting my website.. Whatever you are looking for, I hope you will find it :).
    If you want to reach out, you can contact me anywhere you'd like. If you want to say hi via email, write
    me at <a href="mailto:[fillinmy.name]@gmail.com">[fillinmy.name]@gmail.com</a>.
</p>

<p>
    <em>Dear recruiters</em>, please <a href="https://be.linkedin.com/in/samvloeberghs" target="_blank">find my profile
    on LinkedIn</a> and <strong>always try to contact me via email please.</strong>
    You can find my resumé at my LinkedIn or <a href="assets/cv_samvloeberghs_sept2018.pdf" target="_blank">you can
    download it here</a>.
</p>

<h2>Whoami</h2>

<p>
    I'm a 30 year old software engineer living in Belgium. At the time of writing I'm working as a technical lead /
    frontend architect at the biggest telco operator in Belgium, Proximus. We are doing some cool stuff with Electron
    and integrating a web application with a Windows environment using Electron-edge. I've also done some PHP in the
    past, but focussing totally on JavaScript, Angular, HTML5 and everything frontend from now on!
</p>
<img src="assets/sam_wide.jpg" alt="Sam Vloeberghs" id="wide"/>
<p>
    I'm educated as an Engineer in Computer Science at the University of Ghent but learned my
    true passion, frontend, totally in my spare time. I'm playing around with websites since the age of 16 and still
    love it! Besides that I'm trying to understand the business side & the connection with IT a
    little bit more by attending an <a
        href="http://www.antwerpmanagementschool.be/en/program/executive-master-enterprise-it-architecture/">Executive
    master in Enterprise IT Architecture</a> at <a href="http://www.antwerpmanagementschool.be/">Antwerp Management
    School</a>.
</p>

<p>
    I'm busy with <a routerLink="/projects" title="Check out the cool project I'm involved in!">some very cool
    projects</a> on the side. When I find the time I try do some <a routerLink="/posts"
                                                                    title="Writing about the technologies I use!">writing
    about the technologies I use</a> and share those writings in <a routerLink="/projects"
                                                                    title="I love to do talks all over Europe!">talks</a>
    to the public at conferences & meetups all over Europe.
</p>
