<h1>
    <span>
        4. Sometimes I'm busy, on cool <strong>projects</strong>!
    </span>
</h1>

<p>
    Together with some very nice people I'm involved in different kinds of personal, fun but also
    professional
    projects.
    These are the cool things I would like to share with you:
</p>

<hr/>

<article>

    <a href="https://ng-be.org" target="_blank">
        <img src="assets/projects/ngbe.png" alt="NG-BE"/>
    </a>

    <div>
        <h2>The first NG-BE !!</h2>

        <p>
            NG-BE is <a href="https://ng-be.org" target="_blank">the first ever Belgian Angular
            conference</a> and will be held at the beautiful Holiday Inn
            Ghent, Expo venue in Ghent on December 8 & 9, 2016. NG-BE is the perfect
            opportunity for the Belgian Angular community to learn about the latest Angular 2
            developments.
        </p>
        <p>
            Togheter with Jurgen (<a href="https://twitter.com/jvandemo" target="_blank">@jvandemo</a>)
            we've bootstrapped
            this awesome community project. Thanks for being a great co-organiser Jurgen!
        </p>
    </div>

</article>

<article>

    <a href="http://hackages.io" target="_blank">
        <img src="assets/projects/hackages.png" alt="Hackages"/>
    </a>

    <div>
        <h2>JavaScript &amp; Angular mentor</h2>

        <p>
            <a href="http://hackages.io" target="_blank">Hackages</a> goal is to make you a wizard at the everlasting
            fundamental concepts that you will use throughout your career. We want you to be more than "just a coder”,
            we want to you to become an effective software developer who’s always one step ahead.
        </p>
        <p>
            Thanks a lot to Davy (<a href="https://twitter.com/davyengone" target="_blank">@davyengone</a>) for inviting
            me
            regularly to come speak about and train people in the awesome technologies that I'm using.
        </p>
    </div>

</article>

<article>

    <a href="http://sponsormatch.eu" target="_blank">
        <img src="assets/projects/sponsormatch.png" alt="SponsorMatch"/>
    </a>

    <div>
        <h2>SponsorMatch - Where sponsoring & events connect</h2>

        <p>
            <a href="http://sponsormatch.eu" target="_blank">SponsorMatch</a> is a platform that brings
            organisers and sponsors together. It’s a mash-up between a funding- and datingplatform for
            organisers and companies in their quest for interesting, well defined audience targeted
            sponsoring opportunities!
        </p>
        <p>
            Kurt (<a href="https://twitter.com/cosinski" target="_blank">@Cosinski</a>) contacted me
            almost
            2 years ago to startup this project. A good friend of mine, Cédric (<a
                href="https://twitter.com/cedricverst" target="_blank">@cedricverst</a>) joined us later
            to
            work on the backend. Thanks for the great journey so far guys!
        </p>
    </div>

</article>

<article>

    <a href="http://jsbe.io" target="_blank">
        <img src="assets/projects/jsbe.jpg" alt="JSBE.io"/>
    </a>

    <div>
        <h2>The JSBE Meetup group</h2>

        <p>
            <a href="http://jsbe.io" target="_blank">JSBE</a> aims to maintain a user group for all
            sorts of topics related to the javascript ecosystem, including front-end, back-end, mobile & IOT, at various
            locations across Belgium. Who is welcome? Well everyone!
        </p>
        <p>
            Togheter with a nice group of enthusiastic people we bring hot JS topics to the public in a nice and
            comfortable setting. Thanks for being part of a great team Kwinten(<a href="https://twitter.com/KwintenP"
                                                                                  target="_blank">@KwintenP</a>),
            Dennis (<a href="https://twitter.com/dennisjaamann" target="_blank">@dennisjaamann</a>),
            Jan (<a href="https://twitter.com/Mr_Jean" target="_blank">@Mr_Jean</a>) &amp;
            Steven (<a href="https://twitter.com/stevenbeeckman" target="_blank">@stevenbeeckman</a>).
        </p>
    </div>

</article>
