section#content {
  :host {

    display: block;

    img {
      display: block;
      margin: {
        bottom: 25px;
      }
    }
    table {
      tr {
        td:first-child {
          padding-right: 15px;
        }
      }
    }

  }
}