section#content {
  :host {

    display: block;

    img {
      display: block;
      margin: {
        bottom: 25px;
      }

      @media (max-width: 768px) {
        width: 80%;
        margin: {
          bottom: 25px;
          right: auto;
          left: auto;
        }
      }
    }
    table {
      tr {
        td:first-child {
          padding-right: 15px;
        }
      }
    }

  }
}