<h1>
    <span>
        5. I operate under <strong>Kwerri</strong>, my freelancing company!
    </span>
</h1>

<img src="assets/kwerri.png" alt="Kwerri logo" />

<p>
    Kwerri specialises in developing webapplications. For me Kwerri mainly acts as my own incubator, allowing me to freelance on different projects + <a routerLink="/projects" routerLinkActive="active" title="Projects I'm involved in">start my own</a>.
</p>

<h2>
    <span>Contact & legal information:</span>
</h2>

<table>
    <tr>
        <td>
            <p>
                Kwerri BVBA<br />
                Mechelbaan 72<br />
                2221 Booischot<br />
                Belgium
            </p>
        </td>
        <td>
            <p>
                IBAN : BE13 0016 2070 9039<br />
                BIC: GEBABEBB <br />
            </p>
        </td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td>
            <p>
                (t) +32 494 594460<br/>
                (e) <a href="mailto:info@kwerri.be">sam@kwerri.be</a>
            </p>
        </td>
        <td>
            <p>
                V.A.T.: BE 0829 035 541<br />
                R.P.R. Mechelen<br />
            </p>
        </td>
    </tr>
</table>