<h1>
    <span>
        3. I like to <strong>talk</strong>, share my experience!
    </span>
</h1>

<p>
    The things I talk about can be of all kinds. Mostly I share the things I do for the
    <a routerLink="/projects" routerLinkActive="active" title="Projects I'm involved in">projects I'm involved in</a>,
    but it can also just be a good incentive to <strong>learn in-depth about a specific technology</strong>. Or trying
    to solve a problem I faced during my day-to-day coding battles, setting up architectures, etc.
</p>

<p>
    Besides that <strong>I love to train people in using the technologies I love to explore</strong> as an early adaptor. For
    this I have teamed up with the awesome guys of <a href="http://hackages.io" target="_blank">Hackages</a>. Find out more
    about what they're doing to <strong>train people all over Europe</strong> on their website <a
        href="http://hackages.io">hackages.io</a>
</p>

<p>
    <a routerLink="/" title="Get in touch to have me talk at your event!">Contact me</a> if you'd like me to talk at your event, I would be very happy to!
</p>

<hr/>

<h2>
    <span>Upcoming</span>
</h2>

<ul>
    <li>
        <span class="date">
            [03/12/16]
        </span>
        -
        <a href="http://hackages.io"
           class="title" target="_blank">
            Getting started with Ionic 2 & Firebase
        </a>
        -
        <span class="where" target="_blank">
            Hackages ( <strong>workshop</strong> )
        </span>
    </li>
</ul>

<h2>
    <span>2016</span>
</h2>

<ul>
    <li>
        <span class="date">
            [23/11]
        </span>
        -
        <a href="http://www.meetup.com/jsbe-io/events/232274308/"
           class="title" target="_blank">
            Optimising your Angular2 application for SEO & Social sharing
        </a>
        -
        <span class="where">
            JSBE.io Meetup group - Madewithlove
        </span>
    </li>
    <li>
        <span class="date">
            [28/10]
        </span>
        -
        <a href="http://hackages.io"
           class="title" target="_blank">
            Testing Angular2 applications with Protractor and CucumberJS
        </a>
        -
        <span class="where">
            Hackages ( <strong>workshop</strong> )
        </span>
    </li>
    <li>
        <span class="date">
            [22/10]
        </span>
        -
        <a href="https://devfest.be/schedule/day1?sessionId=212"
           class="title" target="_blank">
            Testing web applications with Protractor & CucumberJS
        </a>
        -
        <span class="where">
            GDG Devfest Belgium
        </span>
    </li>
    <li>
        <span class="date">
            [19/10]
        </span>
        -
        <a href="http://www.meetup.com/Ionic-Belgium-Meetup/events/231960971/"
           class="title" target="_blank">
            Implementation of the NG-BE 2016 app in Ionic 2
        </a>
        -
        <span class="where">
            Ionic Belgium Meetup group - Adneom
        </span>
    </li>
    <li>
        <span class="date">
            [18/04]
        </span>
        -
        <a href="https://www.eventbrite.com/e/an-evening-learning-angular-20-at-realdolmen-tickets-23194640795#"
           class="title" target="_blank">
            Testing Angular 2 applications with Protractor and CucumberJS
        </a>
        -
        <span class="where">
            RealDolmen
        </span>
    </li>
    <li>
        <span class="date">
            [11/03]
        </span>
        -
        <a href="https://www.eventbrite.com/e/an-evening-learning-angular-20-at-realdolmen-tickets-23194640795#"
           class="title" target="_blank">
            Testing AngularJS 1.x applications with Protractor and CucumberJS
        </a>
        -
        <span class="where">
            Crelan ( <strong>workshop</strong> )
        </span>
    </li>

</ul>
