<h1>
    <span>
        2. I try to <em>write down</em> my experience, if it's worth reading!
    </span>
</h1>

<article *ngFor="let post of posts; let i = index">

  <a [routerLink]="['/posts', post.slug]" class="img" [attr.title]="post.title">
    <img [src]="post.img" [alt]="post.title"/>
  </a>

  <a [routerLink]="['/posts', post.slug]" class="excerpt" [attr.title]="post.title">

    <h2>{{post.title}}</h2>

    <p class="posted">
      Posted on
      <time [attr.datetime]="post.publishDatetime">{{ post.publishDatetime | date:'fullDate'}}</time>
    </p>

    <p [innerHtml]="post.short"></p>
  </a>

</article>
