@import 'variables';

:host {
  display: block;
}

article {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f6f6f6;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  &:last-child {
    padding-bottom: 20px;
    border: none;
    margin: 0;
  }

  a.img {
    width: 65%;
    display: block;
    margin: 0 auto;

    @media (min-width: $tablet-bp) {
      float: left;
      width: 120px;
    }

    @media (min-width: $fullscreen-bp) {
      float: left;
      width: 225px;
      display: block;
    }

    img {
      display: block;
      width: 100%;
    }

    &:hover img {
      animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
    }
  }

  a.excerpt {
    display: block;
    text-decoration: none;
    color: #000;
    margin-top: 20px;
    text-align: justify;
    border: none;

    @media (min-width: $tablet-bp) {
      margin-left: 150px;
      margin-top: 0;
      text-align: left;
    }

    @media (min-width: $fullscreen-bp) {
      margin-left: 275px;

    }

    h2 {
      margin-bottom: 5px;
      padding-bottom: 2px;
      border: none;
    }

    span {
      color: #000;
      border-bottom: 1px dotted #000;
      text-decoration: none;
      font-weight: 500;
    }

    .posted {
      margin-bottom: 20px;
      font-size: 12px;
      word-spacing: 0;
    }

    &:hover {
      span {
        border-bottom: 1px solid #000;
      }
    }

  }

}
