<mat-toolbar class="header">
  <div class="header__left">
    <button mat-icon-button color="primary"
            (click)="navOpenend = !navOpenend"
            class="header__navbutton">
      <mat-icon aria-hidden="false"
                aria-label="Open or close navigation"
                [matBadge]="((newVersionAvailable$ | async) || (applicationInstallable$ | async)) ? '!' : ''"
                matBadgeColor="primary">menu
      </mat-icon>
    </button>
    <h1>Workbox demo</h1>
    <img src="/assets/logo.svg" alt="Logo" height="20" width="20"/>
  </div>
  <div *ngIf="!(applicationOnline$ | async)">
    <button mat-icon-button color="warn"
            class="header__offlinebutton"
            (click)="showApplicationOffline($event)">
      <mat-icon aria-hidden="false"
                aria-label="Applicatie offline">
        error_outline
      </mat-icon>
    </button>
  </div>
</mat-toolbar>
<mat-sidenav-container class="container">
  <mat-sidenav mode="over"
               [opened]="navOpenend"
               class="sidenav">
    <div class="sidenav__inner">
      <mat-nav-list class="sidenav__list">
        <mat-list-item [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <mat-icon>house</mat-icon>
          Home
        </mat-list-item>
        <mat-list-item [routerLink]="['news']" routerLinkActive="active">
          <mat-icon>list_alt</mat-icon>
          News
        </mat-list-item>
        <mat-list-item [routerLink]="['secure-map']" routerLinkActive="active">
          <mat-icon>map</mat-icon>
          Secure Map
        </mat-list-item>
        <mat-list-item [routerLink]="['about']" routerLinkActive="active">
          <mat-icon>info</mat-icon>
          About
        </mat-list-item>
        <mat-list-item [routerLink]="['contact']" routerLinkActive="active">
          <mat-icon>email</mat-icon>
          Contact
        </mat-list-item>
      </mat-nav-list>
      <div class="sidenav__actions">
        <p>
        </p>
        <button mat-raised-button color="primary" *ngIf="(applicationInstallable$ | async)"
                (click)="install($event)">
          <mat-icon>add_to_home_screen</mat-icon>
          <span>Install</span>
        </button>
        <button mat-raised-button color="primary" *ngIf="(newVersionAvailable$ | async)"
                (click)="loadNewVersion($event)">
          <mat-icon>update</mat-icon>
          <span>Update</span>
        </button>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="content mat-typography">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-bottom-sheet-container>

</mat-bottom-sheet-container>

<!--
<div *ngIf="false">
  <h1>Workbox demo</h1>
  <hr/>

  <div class="row">
    <div class="box">

      <div *ngIf="(newVersionAvailable$ | async)">
        <button *ngIf="!(applicationUpdateOngoing$ | async) else updateOngoing"
                class="new-version-available"
                (click)="loadNewVersion($event)">
          New version available, reload?
        </button>
        <ng-template #updateOngoing>
          Update ongoing!
        </ng-template>
      </div>

      <button (click)="checkForUpdate()">Check for update</button>

    </div>
    <div class="box">

      <button (click)="setOAuthToken()" *ngIf="!currentOAuthToken">Set OAuthToken</button>
      <button (click)="unsetOAuthToken()" *ngIf="currentOAuthToken">Unset OAuthToken</button>
      Token: {{currentOAuthToken}}
      <br/><br/>
      <button (click)="loadMapTile()" *ngIf="!mapTile">Load Map Tile</button>
      <button (click)="unloadMapTile()" *ngIf="mapTile">Unload Map Tile</button>

    </div>
    <div class="box">

      <div>
        Load a country flag:
        <select (change)="loadFlag($event)">
          <option value="">none selected</option>
          <option value="be">BE (be.png)</option>
          <option value="de">DE (de.png)</option>
          <option value="fr">FR (fr.png)</option>
          <option value="nl">NL (nl.png)</option>
          <option value="lu">LU (lu.png)</option>
          <option disabled value="">---</option>
          <option value="usa">USA (usa.png)</option>
          <option value="uk">UK (uk.png)</option>
        </select>
      </div>

      <br/><br/>

      <img [src]="currentFlag" *ngIf="currentFlag"/>

    </div>
    <div class="box">
      <div>
        <button (click)="loadDataWithLieFiCheck()">
          Load data with Lie-Fi check
        </button>

        <div *ngIf="(lieFiData$ | async) as lieFiData">
          <br/><br/>
          <pre>{{ lieFiData | json}}</pre>
        </div>
      </div>

    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="box">
      <ul>
        <li>
          <a routerLink="/">Home</a>
        </li>
        <li>
          <a routerLink="/about">About</a>
        </li>
        <li>
          <a routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>
    <div class="box">
      <router-outlet></router-outlet>
    </div>
    <div class="box">
      <img [src]="mapTile" *ngIf="mapTile"/>
    </div>
  </div>
</div>
-->

