<button *ngIf="newVersionAvailable" (click)="loadNewVersion()">
  New version available, reload?
</button>

<h1>Service worker lessons</h1>
<ul>
  <li>
    <a routerLink="/">Home</a>
  </li>
  <li>
    <a routerLink="/about">About</a>
  </li>
  <li>
    <a routerLink="/contact">Contact</a>
  </li>
</ul>
<hr />

<button (click)="setOAuthToken()" *ngIf="!currentOAuthToken">Set OAuthToken</button>
<button (click)="unsetOAuthToken()" *ngIf="currentOAuthToken">Unset OAuthToken</button>
Token: {{currentOAuthToken}}
<button (click)="loadMapTile()">Load Map Tile</button>
<button (click)="unloadMapTile()" *ngIf="mapTile">Unload Map Tile</button>
<img [src]="mapTile" *ngIf="mapTile"/>

<hr />
<router-outlet></router-outlet>

