@import 'variables';

:host {
  display: block;
  height: 100%;
}

.header {
  position: sticky;
  z-index: 3;
  top: 0;

  &__navbutton {
    margin-right: $gridunit;
  }
}

.container {
  height: calc(100% - 56px);

  @media (min-width: 600px) {
    height: calc(100% - 64px);
  }
}

.sidenav {
  // padding-top: 56px;

  @media (min-width: 600px) {
    // padding-top: 64px;
  }

  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__list {
    padding: 0;

    mat-icon {
      margin-right: 2*$gridunit;
    }

    .active {
      background: #ddd;
    }
  }

  &__actions {
    padding: $gridunit;

    p {
      text-align: center;
    }

    button {
      width: 100%;
    }
  }
}

.content {
  padding: 0 3*$gridunit;
  @media (min-width: 600px) {
    //padding-top: 10*$gridunit
  }
}
