:host {
  display: block;

  &[hidden] {
    display: none;
  }
}

.row {
  display: flex;
}

.box {
  flex: 1 1 auto;
  padding: 50px;

  &:not(:last-child) {
    border-right: 1px solid #000;
  }
}

.new-version-available {
  background: green;
  border: 1px solid darkgreen;
  color: #fff;
  margin-bottom: 20px;
}
