.wrapper {
  margin: 30px auto;
  font-family: 'Montserrat', sans-serif;
}

.sponsor,
.speaker {
  width: 1200px;
  height: 630px;
  margin: 0 auto 30px auto;
  display: flex;
  overflow: hidden;

  &__left {
    height: 630px;
    flex: 0 1 auto;
  }

  &__right {
    clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0% 100%);
    height: 570px;
    flex: 0 1 auto;
    position: relative;
    padding: 60px;
    z-index: 1;
  }

  .year {
    display: block;
    text: {
      align: center;
    }
    margin: {
      bottom: 30px;
    }
  }

}

.sponsor {
  background: #fff;

  &__left {
    width: 65%;
  }

  &__right {
    background: #eee;
    width: 35%;
  }

  .ngbe {
    width: 150px;
    display: block;
    margin: 0 0 15px auto;
  }

  .year {
    width: 150px;
    margin: 0 0 30px auto;
  }

  .picture {
    display: block;
    width: 100%;
    margin: auto;
    margin-top: 38px;
    margin-left: 45px;
    z-index: 10;
  }

  .level {
    background: #f2b31b;
    color: white;
    padding: 5px;
    text: {
      align: center;
      transform: uppercase;
    }
    font: {
      size: 1.6em;
      weight: 500;
    }
    width: 300px;
    display: block;
    position:absolute;
    bottom: 105px;
    right: 60px;
  }

  .name {
    font-weight: 600;
    letter-spacing: 2px;
    text: {
      transform: uppercase;
      align: right;
    }
    margin: {
      top: 30px;
      left: 60px;
    }
    word-break: unset;
    color: #2e2d2c;
    font-size: 2.5em;
  }

}

.speaker {
  background: #eee;

  &__left {
    width: 45%;
  }

  &__right {
    background: #fff;
    width: 55%;
  }

  .ngbe {
    width: 110px;
    display: block;
    margin: 0 0 15px auto;
  }

  .year {
    width: 110px;
    margin: 0 0 15px auto;
  }

  .picture {
    display: block;
    height: 100%;
    z-index: 10;
    margin-left: -45px;
    // filter: grayscale(100%);
  }

  .date {
    background: #f2b31b;
    color: white;
    padding: 5px;
    text-transform: uppercase;
    margin: 0 0 0 auto;
    font: {
      size: 1.6em;
      weight: 500;
    }
    width: 300px;
    display: block;
  }

  .author {
    color: #2e2d2c;
    padding: 5px;
    text-transform: uppercase;
    margin: 15px 0 0 105px;
    font: {
      size: 1.6em;
      weight: 500;
    }
    display: block;
    width: auto;
    text-align: right;

    span {
      font-weight: 600;
    }
  }

  .title {
    font-weight: 600;
    letter-spacing: 2px;
    text: {
      transform: uppercase;
      align: right;
    }
    margin: {
      top: 30px;
      left: 60px;
    }
    word-break: unset;
    color: #2e2d2c;
    font-size: 2.1em;
  }

}
